[2018-06-20 07:04] kpfaulkner opened #20 "Active Message Count"
Hi

I've created change so when listing/getting queues/topics the CountDetails are populated correctly. The code works fine but I'm trying to sort out the tests.

Currently (even without my change) if I try: "go test" I get the following error:

# azure-service-bus-go
namespace_test.go:32:2: use of internal package not allowed
FAIL    azure-service-bus-go [setup failed]

I see in namespace_test.go

[2018-06-20 16:46] devigned commented on #20
That's pretty odd. There shouldn't be any special way to run tests.

I think you are running into https://github.com/golang/go/issues/21710. Have you run `dep ensure` prior to running `go test`?

Also, you can run `make test` to do all of the things.

[2018-06-20 22:43] kpfaulkner commented on #20
I hadn't run dep ensure previously, but I have now with no difference. Exact same result when I run go test.
Just to clarify I'm on go 1.10 on Windows (will Windows make a difference here?)

Thoughts?

[2018-06-20 22:55] vcabbage commented on #20
Sounds like you might have the fork under your own username in your GOPATH.

If that's the case, it will attempt to import the `test` package from `GOPATH/src/github.com/Azure/azure-service-bus-go/internal/test` instead of `GOPATH/src/github.com/[username]/azure-service-bus-go/internal/test`, which isn't allowed because it's internal.

With Go, it's common to add your fork as a git remote under th

[2018-06-20 23:00] kpfaulkner commented on #20
yes I have the fork under my own username (that's how I usually do it). Can't say I've run into this issue before, but will do as you suggest.  Thanks for the info!

[2018-06-20 23:39] devigned commented on #20
@kpfaulkner I was working under my own fork as well. I hadn't experience that. If this continues to be an issue for you, please let me know. I definitely want to encourage community participation, and the initial clone / test experience needs to be simple.

[2018-06-21 02:04] kpfaulkner commented on #20
hmmm no luck. Hey, if I completely ignore my own fork and just wanted to clone the existing repo and run the tests...  *should*  a clone + go test work? Or would I still need to do something else?  Since even that's not working for me. (but works for plenty of other repos). Admittedly they dont have "internal"

[2018-06-21 13:46] devigned commented on #20
@kpfaulkner I'll do this on a clean machine today and see if I can replicate your experience.

One item of note, if you look at the TravisCI builds, those clone and run tests from a clean start each time.

[2018-06-21 17:47] devigned commented on #20
@kpfaulkner I've recruited @marstr and @t-jaelli to try to replicate your experience and provide some feedback.

[2018-06-21 19:55] marstr commented on #20
I've just finished running on my box :)

[code]

Doing this, I didn't run into build errors that you saw above. :)

[2018-06-21 20:36] t-jaelli commented on #20
I think I was able to recreate your issue. I cloned from my fork of the azure-service-bus-go repo.

[code]

I received the same error. Having both your fork and the upstream in your gopath confuses the compiler.

[2018-06-21 20:41] devigned commented on #20
Thank you @t-jaelli and @marstr!

[2018-06-21 22:18] kpfaulkner commented on #20
@marstr ahh that IS different to how I usually develop. So you actually do your mods within src/github.com/Azure directory?  I always have mine as a subdir of src.  So yes, I'd have 2 in my GOPATH, one is the original in src/github.com/azure/whatever  and MINE would be src/whatever.... hmm never seen the situation where people have it set out like that.

I definitely got further, but now need to g

[2018-06-21 22:40] marstr commented on #20
I just always have to be a little different! ;) But really, it's because I hit the problem you're running into all of the time. All of my projects use `dep` or `glide` anyway, so the copy that's available from my GOPATH hardly matters at all.

Ahh yeah, I often forget how much setup I've done for my local machine. I created myself a web application app-registration and use it's service principal i

[2018-06-21 22:41] marstr commented on #20
By the way, it's good to hear from you again @kpfaulkner!

[2018-06-21 22:44] kpfaulkner commented on #20
Just setting up a new app for test purposes.

Yes, has been a while. Am liking the new storage lib/structure....   it does everything I need (so far) so have been quiet there. Now adding in a bunch of servicebus monitoring into our infrastructure, so now poking my nose into this repo :)

[2018-06-22 02:22] devigned commented on #20
@kpfaulkner are you ok if we close this?

[2018-06-22 02:35] kpfaulkner commented on #20
I dont have it working *yet*, I end up getting:

resources.GroupsClient#CreateOrUpdate: Failure responding to request: StatusCode=403 -- Original Error: autorest/azure: Service returned an error. Status=403 Code="AuthorizationFailed" Message="The client '3501f01e-14aa-4b54-ab95-a4391fe22eea' with object id '3501f01e-14aa-4b54-ab95-a4391fe22eea' does not have authorization to perform action 'Micros

[2018-06-22 02:47] devigned commented on #20
Well, it's progress 👍.

This illustrates a need for a developer getting started page, which would walk through getting a dev / test environment running.

The error you are running into right now is that the service principal you created doesn't have RBAC rights to the subscription to create a resource group. If you run this command, you should have an SP that will work for you [az ad sp create-for

[2018-06-22 02:48] devigned commented on #20
@kpfaulkner let's leave it open til you have executing tests. I think you are pretty close.

[2018-06-22 13:06] kpfaulkner commented on #20
closer....

C:\Users\kenfa\projects\gopath\src\github.com\Azure\azure-service-bus-go>go test ./...
--- FAIL: TestSB (4.09s)
        test.go:91:
                        Error Trace:    test.go:91
                                                                suite.go:64
                                                                namespace_test.go:51
                        Error:          Rece

[2018-06-22 14:02] kpfaulkner commented on #20
Just as a follow up, from what I can see the function func (client NamespacesClient) CreateOrUpdateSender(req *http.Request) (future NamespacesCreateOrUpdateFuture, err error)  is the one that's blowing up on me.

When running, I can see the resource group "test" being made, then the following request:

PUT /subscriptions/2573fe04-9ee8-404a-aab4-6534c25b554e/resourceGroups/test/providers/Microsoft

[2018-06-22 14:11] devigned commented on #20
Ahh... This is caused because the subscription you are using doesn't have the `Microsoft.ServiceBus` provider registered.

Background: Each Azure service is a "Resource Provider" those providers need to be registered in your subscription before they can be used.

The portal will do nice things like register the provider beforehand. The test code does not, but maybe, it should.

You can remedy this

[2018-06-22 16:07] devigned commented on #20
@kpfaulkner it looks like the namespace name is empty when it tries to run the `CreateOrUpdate` here https://github.com/Azure/azure-service-bus-go/blob/70612d6a3615c9defd3094158621180f310f7eb5/internal/test/test.go#L141-L167. I think that is the case because in the PUT, there is no `/{name}` after the `/namespaces/` segment.

The namespace name is derived from the connection string via your enviro

[2018-06-25 00:09] kpfaulkner commented on #20
Just an update:

Had quotes around my servicebus connection env var....  meant parsing died and didn't pick up name space.

Also, I had to modify test.go since there is an assumption about region and resourcegroup name.
Now tests run!!!!

Have modified PR https://github.com/Azure/azure-service-bus-go/pull/22 with a test confirming that after pushing a message the active message count is 1 (to at l

[2018-06-25 04:04] devigned commented on #20
@kpfaulkner check out https://github.com/Azure/azure-service-bus-go/blob/70612d6a3615c9defd3094158621180f310f7eb5/queue_test.go#L739-L752

I experienced similar results and decided to give the active message count a chance to catch up based on the deadline of the test context. Each test has a default deadline and will wait for either the wait group to complete or the deadline to pass. This might b

[2018-06-25 04:55] kpfaulkner commented on #20
I was wondering about that. But for the cases where waitUntil is already run we've got a handler parameter that we can incorporate the waitgroup completion into. In my case I'm simply calling Get(). If we want to avoid sleeps I can use a tight loop in a goroutine that keeps calling Get(), once it's completed mark the waitgroup as done. But that seems just as messy to me.

Is that what you were pic

[2018-06-25 05:32] devigned commented on #20
Loop + sleep until success or deadline reached sounds good. No need to get too fancy.

[2018-06-26 00:19] kpfaulkner commented on #20
Ok left it at that.

[2018-06-26 15:23] devigned commented on #20
@kpfaulkner, I've merged the PR. I believe this solves your issue, so I'm going to close this. If you find this is still an issue, please reopen.

[2018-06-26 15:23] #20 closed

[2018-07-01 03:14] mcgradycchen opened #24 "send and receive batch messages"
Is it possible to send and receive batch messages azure to service bus?

[2018-07-02 15:03] devigned commented on #24
Right now, the feature has not been implemented, but it is on the list to implement before the library is feature complete.

I expect it will look similar to the [EventHub implementation](https://github.com/Azure/azure-event-hubs-go/blob/2abafea1af288084b5b20bc9e251a3ed515dd411/hub.go#L289-L305).

I'll try get this added this week.

Just out of curiosity, why do you want to send batch messages? Is

[2018-07-25 21:35] marstr opened #29 "Seg Fault in applyResponseInfo"
applyResponseInfo is being called in `entityMangager.Execute` before the error from `http.Do` is checked. When network traffic is blocked for any reason, this is causing a panic. :)

https://github.com/Azure/azure-service-bus-go/blob/a171c034c74643dcb626d18d206a51c65fabc522/mgmt.go#L146

[2018-07-25 22:52] #29 closed

[2018-07-30 17:59] lawrencegripper opened #34 "Lock renewal"
Hi,

I'm currently working on supporting message lock renewal via AMQP on SB using the [request-response flow here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-request-response#message-renew-lock). There are a couple of changes that will likely be needed in [vcabbage to support](https://github.com/lawrencegripper/ion/issues/157) it but ideally I thought this might

[2018-08-01 16:57] lawrencegripper commented on #34
I've fixed up the issue with the unmarshalling of null types in the vcabbage lib and that is now merged: https://github.com/vcabbage/amqp/pull/117.

[2018-08-02 18:15] devigned commented on #34
This is definitely a feature we'd like to have in the library. I haven't started it yet, so if you have the time, I'll happily review a PR with the feature.

[2018-09-03 10:15] lawrencegripper commented on #34
After working with the SB team have a resolution to an issue preventing lock renewal from messages which didn't originate over AMQP. I'm going to propose changes to vcabbage lib to fix that issue and once completed hopefully revisit the WIP PR.

[2018-09-11 17:35] marstr opened #38 "Adopt Go Modules"
With Module support added to go1.11, it is time to begin thinking about how to migrate away from `dep` to modules.

Seeing as this repository will be published as a single module, and that `go mod` [understands dep's format](https://github.com/golang/go/wiki/Modules#how-to-define-a-module), it is not urgent to adopt modules. However, if there are any lessons to be learned we'd rather learn them ea

[2018-09-11 19:07] marstr opened #39 "Abstract OpenTracing and OpenCensus"
Adding observability back into distributed systems isn't trivial, but there are a handful of technologies that help. The entry point into any of those technologies is a reliable and well-thought-out instrumentation. Extending instrumentation into libraries helps to bring clarity to the source of unexpected behavior and performance characteristics. Today, this repository uses OpenTracing for instru

[2018-09-11 21:12] marstr opened #40 "Automatically infer test location when not provided"
When the tests are executed, they pull the Azure Region that should be used from the Environment Variable `TEST_SERVICEBUS_LOCATION`. When that variable is not set, it should be inferred from the resource group that was specified.

[2018-09-11 22:20] marstr opened #41 "Support Dead Letter Queue"
Service Bus queues and topic subscriptions provide a secondary sub-queue, called a dead-letter queue (DLQ). The dead-letter queue does not need to be explicitly created and cannot be deleted or otherwise managed independent of the main entity.

This article discusses dead-letter queues in Azure Service Bus. Much of the discussion is illustrated by the Dead-Letter queues sample on GitHub.

See Also

[2018-09-11 22:26] marstr opened #42 "Support Auto-Forward"
The Service Bus auto-forwarding feature enables you to chain a queue or subscription to another queue or topic that is part of the same namespace. When auto-forwarding is enabled, Service Bus automatically removes messages that are placed in the first queue or subscription (source) and puts them in the second queue or topic (destination). Note that it is still possible to send a message to the des

[2018-09-11 22:30] marstr opened #43 "Add more explicit support for Sessions and Session State"
Sessions are easy to establish by simply setting the `SessionID` field on a `Message`. However, there is some polish that can be added to make it easier to produce and consume messages in a session.

see: https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Microsoft.ServiceBus.Messaging/Sessions

see: https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Microsoft

[2018-09-11 22:37] marstr opened #44 "Support Topic Filters"
Topic Filters allow for a subscriber to be sent only a specified portion of the messages being published to a Topic.

See Also:
- https://docs.microsoft.com/en-us/azure/service-bus-messaging/topic-filters
- https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Microsoft.ServiceBus.Messaging/TopicFilters

[2018-09-11 22:47] marstr opened #45 "Add Go to Aggregate Repository"
The repository [Azure/azure-service-bus](https://github.com/Azure/azure-service-bus) contains a list of official Microsoft Service Bus libraries across many languages. Today, that repository has no reference to the Go assets in this repository.

To close this issue, the following should be accomplished:
- [ ] The aggregate repository should have a sub-module pointing at the most recent release of

[2018-09-11 22:53] marstr opened #46 "Support Auto Renew Peek/Lock"
When messages are received using PeekLock mode, the receive operation becomes a two-stage operation. The first stage, the message is locked by the broker for a specific consumer for a fixed period known as LockDuration. When the consumer is done with the message, the message is marked as completed by the consumer, indicating to the broker that second stage is finished. Default lock duration for th

[2018-09-11 23:00] marstr opened #47 "Support Message Browsing"
Being able to reason about the messages in a Subscription or Queue is important. Extending this SDK to support that will allow people to build alerting as queues near that maximum capacity, dashboards to reason about the current requests waiting to be processed, and even scale the number of consumers burning down the queue.

See Also:
- https://docs.microsoft.com/en-us/azure/service-bus-messaging/

[2018-09-11 23:16] marstr opened #48 "Support Deferral"
When a queue or subscription client receives a message that it is willing to process, but for which processing is not currently possible due to special circumstances inside of the application, it has the option of "deferring" retrieval of the message to a later point. The message remains in the queue or subscription, but it is set aside.

Deferral is a feature specifically created for workflow pro

[2018-09-11 23:27] marstr opened #49 "Sample of Priority Subscriptions"
Demonstrate how one can implement a priority queue using Service Bus and Go.

See Also:
- https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Microsoft.Azure.ServiceBus/PrioritySubscriptions

[2018-09-12 21:55] marstr commented on #46
Closing as a duplicate of #34

[2018-09-12 21:55] #46 closed

[2018-09-25 19:21] marstr opened #52 "Megabytes documentation is wonky"
https://github.com/Azure/azure-service-bus-go/blob/a25cce1edecac67e9fc05b039cb41702fa083235/namespace.go#L52

1. It should be singular not plural to match [the `time` package magnitude const definitions](https://godoc.org/time#pkg-constants).
1. I strongly associate the word "helper" with a function, this should be reworded.
1. If the service takes the number in Kilobytes, then we're all good. Oth

[2018-09-25 19:36] marstr commented on #52
Looking at usage, I'm getting the sense that this should probably just be renamed to `Gigabyte`.

[2018-10-01 16:22] marstr opened #57 "Expand Queue Examples to Topic, Subscription"
You can see the list of examples for this package here:
https://godoc.org/github.com/Azure/azure-service-bus-go#pkg-examples

At time of writing, all of the examples above use a Service Bus Queue. Expanding the available examples to cover using Topics and Subscriptions would be a valuable expansion.

[2018-10-01 16:55] marstr opened #58 "Reduce Redundancy in Test Setup"
A couple of examples:
- ARM_* and AZURE_* environment variables are used to authenticate against Terraform and the Unit Tests respectively, though they are expected to have identical contents. Updating our tests to respect either would allow folks to specify it once.
- The resource group being used must be given to us and Terraform.

Using [Viper](https://github.com/spf13/viper) or similar could h

[2018-10-03 00:15] marstr commented on #43
Folks wanting to track the status of this can find it in my branch, here: [marstr/azure-service-bus-go/sessions](https://github.com/marstr/azure-service-bus-go/tree/sessions).

[2018-10-03 11:33] jbfm opened #59 "Calling Topic.Send sometimes fails with "session ended by server" on Windows"
Built with `go version go1.11 darwin/amd64`, using current master branch of `azure-service-bus-go`.

Sending messages to a topic after the connection has been idle for a while (one minute+), the connection sometimes fails to be recovered on Windows. I'm attaching a Proof of Concept and the output of a build built with `-tags debug`.

The PoC never fails on my machine running macOS, always reaching

[2018-10-08 02:41] brainsnail commented on #40
I'll take a look at this one 😄

[2018-10-08 19:21] #58 closed

[2018-10-18 20:58] marstr commented on #43
Blocked by vcabbage/amqp#134

Other than that, the implementation is ready for review and further testing over in:

https://github.com/marstr/azure-service-bus-go/tree/sessions

[2018-10-24 23:03] marstr commented on #38
Fixed in #64

[2018-10-24 23:03] #38 closed

[2018-10-24 23:08] marstr commented on #43
Fixed in #62

[2018-10-24 23:08] #43 closed

[2018-10-25 13:41] cjhpaul opened #65 "Error calling amqp's deprecated LinkSessionFilter"
Based on https://github.com/vcabbage/amqp/commit/737d254fced3c8c602d642fd6bce8488a0fa9819, LinkSessionFilter is no longer used in the latest of pack.ag/amqp. But receiver.go still uses the deprecated one.
Can someone update this?
Thanks.

[2018-10-29 20:07] #47 closed

[2018-10-29 22:47] marstr opened #67 "Schedule/Cancel Messages"
Today, we support scheduling messages by just appending the `x-opt-scheduled-enqueue-time` property to a message being sent using the usual pipeline. We do not support cancellation at all.

Cancellation requires knowing the sequence-id of the message to be cancelled. Knowing the sequence ID of a message scheduled using available functionality today would require an extra `Peek` with synchronizatio

[2018-10-30 17:41] marstr opened #68 "Auto Lock Renewal"
While we expose the ability to renew message and session locks, at the moment it's on the user to schedule goroutines that will keep those locks.

[2018-10-30 17:44] marstr commented on #34
This functionality was added in #35

[2018-10-30 17:44] #34 closed

[2018-11-02 00:49] cjhpaul commented on #39
Sounds good, but any thoughts on keeping the OpenTracing compatibility for those who are using it?

[2018-11-02 16:07] marstr opened #69 "Rename Message.GroupID to Message.SessionID"
At time of writing, [this field is named GroupID](https://github.com/Azure/azure-service-bus-go/blob/cac7a6f976ee8139b3a20bfd068d2657604816a2/message.go#L44).

This is because the AMQP property that will be used to communicate this is "GroupID". However, all Service Bus documentation refers to this as "SessionID". It would be a good thing to switch for the sake of consistency.

[2018-11-02 17:37] marstr commented on #65
Fixed:
https://github.com/Azure/azure-service-bus-go/blob/cac7a6f976ee8139b3a20bfd068d2657604816a2/receiver.go#L293

[2018-11-02 17:37] #65 closed

[2018-11-02 17:51] devigned commented on #39
We should add an abstraction layer for tracing. Perhaps, a `OpenTracer` interface or something. OpenTracing and OpenCensus are not that different. I think we could do this with minimal pain.

[2018-11-03 16:39] #67 closed

[2018-11-19 21:12] g-rad opened #72 "Socket leak in Queue.ReceiveOne"
I've been playing with Queue.Receive and Queue.ReceiveOne and noticed that ReceiveOne creates a new receiver every time. Below example of code with socket leak:
[code]

The obvious workaround would be to call `queue.Close()` after every iteration but I believe `Queue.ReceiveOne()` should know how to handle existing receivers.

The reason I'm using `Queue.ReceiveOne()` instead of `Queue.Receive()`

[2018-11-20 00:56] g-rad opened #73 "Queue doesn't receive all messages"
When I send 200 messages one by one, the queue doesn't always receive all 200 of them.

[code]
All 200 messages are send within a second.
Sometimes the queue receives all 200, sometimes significantly less.

Queue properties:
TTL: 14 days
Lock Duration: 10 seconds
Duplicate detection history: 20 seconds
Maximum Delivery Count: 10
Maximum size: 1GB
Enable partitioning: false

Am I doing something wr

[2018-11-20 04:11] devigned commented on #73
Doesn’t seem like you are doing anything wrong at first glance. I’ll take a closer look at this tomorrow and make sure the exact scenario is covered by a test.

[2018-11-21 00:16] g-rad commented on #72
@devigned I added logging to `Namespace.newConnection()` and can clearly see it's called for every `ReceiveOne` of my original code. So I believe a new connection is created each time.

`netstat -an | grep ESTABLISHED | wc -l` also shows increasing number of opened sockets.

[2018-11-21 00:18] devigned commented on #72
Yep... that is for sure a bug. Looking a bit closer at `ensureReceiver`, it is not checking if there is an existing receiver. Thank you!

[2018-11-26 23:09] g-rad commented on #73
@devigned did you manage to reproduce the issue?

[2018-11-27 23:16] devigned commented on #73
I've added the test, but I have not been able to reproduce the issue (https://github.com/Azure/azure-service-bus-go/blob/5c0fda85553833c58a1ba9c087440ec340511d34/queue_test.go#L607-L648).

Is there any possibility you have more than one consumer receiving from that queue?

[2018-11-28 19:36] g-rad commented on #73
I left queues created in tests overnight, it's been more that 8 hours and the portal still shows same number of messages (between 82 and 86). I run `queue.Receive` on one of the queues and it received the exact number of messages the Portal was displaying (86 in this case).

I believe UI is not an issue.

[2018-11-28 19:42] devigned commented on #73
I'm going to run your example independent of the test suite and see if I can get it to repro. I'll report back.

[2018-11-29 17:58] devigned commented on #73
I've been able to reproduce the issue you've described. I'm tracking down the root cause and will report back. Thank you for reporting this issue!

[2018-11-29 19:02] devigned commented on #73
I found the root cause. It's two fold.
1) we were brutally killing the connection rather than gracefully -- bad
2) we were not waiting on the disposition from the server, but rather that the message had been queued for delivery.

Both issues will be corrected shortly.

[2018-12-03 23:32] devigned commented on #73
Thank you for reporting, @g-rad. The refactor for connection leaks was wrapped into this PR and ended up being more pervasive and lengthly than I intended. Sorry about the wait.

I'm hoping to get through the feature backlog by the end of the year, then concentrate on stability and performance.

If you run into anything, please let me know. I'll make sure they get attention asap.

[2018-12-05 01:15] #41 closed

[2018-12-07 18:55] #42 closed

[2018-12-07 22:43] #69 closed

[2018-12-13 05:17] rinatio opened #78 "Prefetch support"
Couldn't find if prefetch is supported: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-performance-improvements#prefetching. It seems to be set to `1` in `receiver.go:NewReceiver()` without a method to change it.

[2018-12-13 06:24] rinatio opened #79 "Receive hangout"
We're connecting to service bus with Topic Subscription and it hangs out every time after 30 minutes without dropping any errors. Is it somehow related to session lock which we need to handle separately? Is there any additional logging that we could enable to understand why it hangs out? Is it possible that service bus itself has some settings to drop connection after certain amount of time?

[2018-12-13 18:20] devigned commented on #79
Ok, there a lot to decode in this issue.

It sounds like when you are receiving from a subscription using sessions, you are seeing the receiver not receive any messages after 30 mins. If that is accurate, then there could be a myriad of things going on.

1) After a period of time, the lock on the session will expire. You can extend the lock on the session via `MessageSession.RenewLock`. At some po

[2018-12-13 18:37] devigned commented on #78
Should be good to go. Please don't hesitate to suggest other features you need. Thank you!

[2018-12-13 18:37] #78 closed

[2018-12-13 23:58] rinatio commented on #79
@devigned Thank you so much for detailed response! Inactivity is probably not the case because the topic is full of messages.
Can you tell if there're some settings in Azure Service Bus that configure lock of the session expiry time? Is there some example on how to renew the lock manually before auto-renew is supported?

[2018-12-14 00:05] devigned commented on #79
Happy to help!

I don't think there is a way to change the duration of the session lock. I know you can change the PeekLock timeout on the Queue / Subscription, but not session lock.

As for renewing the session lock, check out the test for session lock renewal below. You can call renew lock from the MessageSession struct, which you will get when you start a session.
https://github.com/Azure/azure

[2018-12-17 22:07] rinatio commented on #79
Thank you @devigned. Is it necessary to create session for receiver? At this moment we connect to the service bus topic without explicit session initialization.

[2018-12-17 22:18] devigned commented on #79
If you need partitioning of the subscription and in-order processing, then you will need sessions. If you can deal with out of order processing, you don't need sessions.

[2018-12-18 02:07] rinatio commented on #79
Okay, makes sense. By the documentation it seems like MessageSession/SessionHandler are being used only for `QueueSession:ReceiveOne` and `SubscriptionSession:ReceiveOne`. Does it mean session and lock are not created for receiver by default? Meaning lock doesn't exist unless one creates it explicitly? There seems to be no other way to access it in order to renew the lock.

[2018-12-18 16:25] devigned commented on #79
That is correct. The only time session locks should come into play are when using `QueueSession` or `SubscriptionSession`. Otherwise, the receiver does not apply the session filter to the link, which would cause the broker to only transmit messages for that particular session.

If you would like to collect some traces of what's going on, I'd suggest setting up an OpenTracing collector and outputti

[2018-12-18 16:25] devigned commented on #79
Also, if you can share some code, I'm happy to give it a look.

[2018-12-19 01:15] devigned commented on #24
This is a long past due.

[2018-12-19 18:38] rinatio commented on #79
@devigned thank you so much for all the clarifications, feedback and OpenTracing recommendation! Seems like the issue with hangout is related to our Postgresql connection and query that takes too much time.

[2018-12-19 18:38] #79 closed

[2018-12-19 18:51] devigned commented on #79
Glad to help! Sorry to hear about the long running nature of your pgsql query :(.

Thank you for the update.

[2018-12-19 19:09] devigned commented on #40
I'm going to close this issue as the TF setup will output this information by default.

[2018-12-19 19:09] #40 closed

[2018-12-19 20:19] brainsnail commented on #40
Thanks. Sorry about not following up on this ☹️

[2018-12-20 02:44] #44 closed

[2018-12-21 17:58] #52 closed

[2018-12-22 02:07] #49 closed

[2019-01-02 17:39] devigned opened #88 "Add concurrent receiver handling for streaming receiver"
`Queue.Receive` and `Subscription.Receive` should take an option `QueueWithMaxConcurrency(maxConcurrency int)` which will allow `maxConcurrency` number of concurrent messages to be handled.

Right now, `Queue.Receive` and `Subscription.Receive` handles one message at a time, which can be slower than expected. A consumer could create multiple clients and consume from the same queue to achieve the s

[2019-01-03 06:17] #24 closed

[2019-01-03 20:08] devigned commented on #57
I think this is pretty well covered. If someone would like to see more examples, please comment and reopen.

[2019-01-03 20:08] #57 closed

[2019-01-08 00:04] devigned commented on #59
I'm sorry it has taken so long to get attention to this issue. I will do my best to ensure that doesn't happen again in the future.

With the latest version of the library, I have been unable to reproduce this issue. It is quite likely that over the past 3 months the issue was resolved by the large number of changes that have been committed. Based on this, I'm going to close the issue. If you are

[2019-01-08 00:04] #59 closed

[2019-01-08 23:02] devigned opened #93 "Add web socket support"
### Expected Behavior
Should be able to connect to Event Hubs via web sockets rather than over the standard AMQP ports to better support common open ports.

### Actual Behavior
The library only supports common AMQP ports.

[2019-01-31 21:30] vsaroopchand opened #95 "Add module specific error with ErrorCondition"
The SDK [returns ](https://github.com/Azure/azure-service-bus-go/blob/7dafc265e8a87e9d1b4070e6f4a8dad19416977a/receiver.go#L288) a common.Retryable error type which hides the amqp [ErrorConditions](https://github.com/Azure/azure-service-bus-go/blob/7dafc265e8a87e9d1b4070e6f4a8dad19416977a/message.go#L98) making it difficult to write exception handling logic. Can we return a module specific excepti

[2019-02-06 21:25] vsaroopchand opened #96 "Add Exists check on Queue, Topic, Subscription, etc."
Currently, checking for existence of a Queue, Topic or Subscription involves using Manage Permissions on the Namespace (TopicManager, SubscriptionManager) to Get the Entity. Restricted Permission (Send, Listen) has to rely on connection failure to test for existence. Can we add an 'Exists' Boolean check on these types that work without management permission?

Proposal:
Send Permission Only
- Topic

[2019-02-06 21:28] vsaroopchand opened #97 "Add SendBatch to Topic"
Can we add a BatchSender similar to the Queue implementation to assist bulk write operations?

Proposal:

[code]

[2019-02-06 21:33] vsaroopchand opened #98 "Add Support for Bulk Dispositions on Subscription"
Can we add support for Bulk Acknowledgements (setting Message dispositions) on Subscription? This will allow separate go-routines to receive & process messages.

Example:
`err := s.SendDisposition(ctx, uuids, servicebus.CompleteDisposition)`

[2019-02-11 21:21] vsaroopchand commented on #98
Please check my PR for this feature. The proposed bulk operator only performs Complete or Abandon status. It excludes Suspend/Deadletter operations as this brings additional complexity such as DeadLetter reason and description.

[2019-02-13 01:59] #98 closed

[2019-03-01 05:56] norshtein opened #103 "[Question] The limitation of the scheduled time of scheduled message"
Hi, is there any limitation on the scheduled time of a scheduled message? We need a message to be visible after 3 months. I have tested with [the example](https://github.com/Azure/azure-service-bus-go/blob/master/scheduled_message_examples_test.go). I set the `waitTime` to be 3 months, the program exit without any error, and I can see "Scheduled message count" increases in "Overview" of my queue o

[2019-03-05 01:27] mcgradycchen opened #104 "Listen listenForMessages will not exit when ctx timeout"
Hi

In some situations, my following code will run into issue

[code]

Finally, I found there is a bug in [Listen](https://github.com/Azure/azure-service-bus-go/blob/master/receiver.go#L173) func, it starts two routines [handleMessags](https://github.com/Azure/azure-service-bus-go/blob/master/receiver.go#L190) and [listenForMessages](https://github.com/Azure/azure-service-bus-go/blob/master/receiv

[2019-03-05 01:51] mcgradycchen commented on #104
https://github.com/Azure/azure-service-bus-go/pull/105

[2019-03-05 02:27] mcgradycchen commented on #88
Hi devigned,

Sorry to jump into your comments.

I don't think this library need to support concurrent message handling. Adding an example about how to set `prefetchCount` and process messages with go worker pool is enough.

A library implements more features, it will have more bugs and be hard to maintain. What's worse, it may not bring benefit for most users.

Thanks,
McGrady

[2019-03-05 16:02] devigned commented on #88
I'm glad to hear your take on this @mcgradychen. Thank you.

We have been wrestling with that balance internally on the team. In the .NET and Java versions of the library, a developer is able to specify the max concurrency. Turns out, it's a pretty popular feature.

We took a similar approach with creating a [batch processing example for EventHubs](https://github.com/Azure/azure-event-hubs-go/blob

[2019-03-05 16:09] devigned commented on #103
@norshtein I'll find out. I'm not sure what the max future date is. Great question!

[2019-03-06 00:24] axisc commented on #103
@norshtein there is no limit set at the server side.
It’s technically [the max value of the DateTimeOffset](https://docs.microsoft.com/en-us/dotnet/api/system.datetimeoffset.maxvalue?view=netframework-4.7.2)

[2019-03-06 01:24] norshtein commented on #103
Cool. Thanks for the help!

[2019-03-06 01:24] #103 closed

[2019-03-07 00:38] devigned commented on #103
@axisc thank you for the answer!

[2019-03-08 06:37] mkfsn opened #106 "Get nil TopicEntity without error"
Hi, I want to ensure the topic entity exists so I use the `TopicManager.Get()` to check it.

But then I found that `Get` method will return a nil value without an error, is that on purpose?

https://github.com/Azure/azure-service-bus-go/blob/9d787e37fa3e8fecd2d55441e257cc878e2e4ae8/topic_manager.go#L169..L171

I thought that I will always get a valid value if the error is nil in go ... please corr

[2019-03-10 17:42] devigned commented on #106
When thinking about 404, we evaluated a few options.
- Return nil and that is the signal that the Topic does not exist.
- Return `nil, err` where `err` would be a "not found" error.
- Return `topic, ok, err` where `err` would be real errors and ok would indicate presence.

We went with the first option intentionally. `nil` indicates 404. I think this was the least complex solution. What would you

[2019-03-10 19:38] vcabbage commented on #106
My 2 cents: When returning `value, error` it's generally expected that if the error is nil the value is valid and if the error is not nil the value is invalid and should not be used. If an API has different behaviour, my expectation as a user is that it's documented.

In this case I'd suggest the second option you describe, returning a "not found" error that users can compare or type assert if the

[2019-03-11 13:55] mkfsn commented on #106
@vcabbage @devigned Thanks for replying, and providing such a good article :)

Yes, I'm totally agree on @vcabbage, and I think option 2 makes more sense to me. It would be better that I won't need to do a further check when/if I already check there's no errors. Does it make sense to you?

[2019-03-11 15:37] devigned commented on #106
Ok. I'll make the change this week.

To recap, I'm going to introduce a new error type to represent a 404, which will be returned upon 404. I will also provide a func to simplifying checking for 404.

@mkfsn or @vcabbage thank you for the great discussion. You folks are awesome!

[2019-03-12 15:32] devigned commented on #104
Should be fixed with after merging #105. Thank you for the PR, @mcgradycchen!

[2019-03-12 15:32] #104 closed

[2019-03-12 18:00] devigned commented on #96
@Azure/service-bus what are you thoughts on this? How should we approach differentiating these scenarios?

[2019-03-13 00:06] #106 closed

[2019-03-13 05:00] #97 closed

[2019-03-13 17:56] nemakam commented on #96
@devigned - I guess this should be doable on the client side. Essentially, opening a link on service to a non existing entity should already throw today. Send and Listen can be done by appropriately using sendingLink and receivingLink. For management, use the managementClient equivalent to do a QueueExists() check.

[2019-03-13 18:03] devigned commented on #96
@nemakam I think the toughest part is to figure out what access level the credential has. Does it have rights to listen, send or manage? Is there a way to determine the rights?

[2019-03-13 18:28] nemakam commented on #96
I'm not sure I understand your concern completely.
Talking in terms of AMQP, you'll anyway need to send the token over to CBS before you initiate this link right. That should take care of it. If the authentication token they provided has only send permissions, then trying to open a receivingAmqpLink will throw unauthorized exception.

[2019-03-13 19:33] devigned commented on #96
I was hoping there might be some endpoint like /me which would provide metadata about rights for the current identity. It would be easier than sniffing based on errors received.

[2019-03-13 21:01] nemakam commented on #96
I'd think creating link provides more benefits. Once that link is created, sending / receiving is now pretty quick even for the first message. If you have manage permissions, you should be able to retrieve all the access tokens and validate.

[2019-03-15 18:22] devigned opened #111 "amqp: sender settlement mode "unsettled" requested, received "mixed" from server"
In https://github.com/vcabbage/amqp/pull/157 (v0.11.0) an error is thrown when the link is established if the requested settlement mode does not match the server responded settlement mode.

For the time being, consumers of this library should use https://github.com/vcabbage/amqp v0.10.2.

[2019-03-16 17:03] vcabbage commented on #111
I'm interested in any thoughts on this. When I implemented the check I considered omitting the error when the server responds with mixed, but that didn't seem right because if the application specifically requests unsettled, mixed still allows the server to send settled messages. If the application doesn't actually care the settlement mode options can be omitted and it will accept whatever the ser

[2019-03-19 17:24] devigned commented on #111
I've talked with the team internally and here's the gist.

For the time being, I think I'm going to disable the strict check so that when nil is returned, the behavior is as expected.

[2019-03-23 19:58] sopatwar opened #112 "How to set ConnectivityMode"
Hello,

As per the docs for Azure SDK for .NET:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.connectivitymode?view=azure-dotnet

ConnectivityMode Enum
Sets the underlying wire-level protocol used to communicate with Service Bus.

Is this possible in the Go SDK as well?

I will prefer to use AMQP over HTTPS (rather than TCP)

Thanks,
Sourabh

[2019-03-24 21:50] devigned commented on #112
Closing this issue in favor of tracking web socket support in #93

[2019-03-24 21:50] #112 closed

[2019-03-24 22:18] sopatwar commented on #93
Any approximate ETA for this enhancement ?

Thanks,
Sourabh

[2019-03-25 14:29] devigned commented on #111
@vcabbage after thinking about this a bit more, I support the strict check. It's beneficial to the consumer they are 100% clear on the settlement mode. Azure Service Bus make some assumptions about the settlement mode. In this library, I can write around those scenarios, but for the general AMQP library, it makes sense to be strict.

[2019-03-25 15:51] #111 closed

[2019-03-25 18:17] devigned commented on #93
This is something I've wanted to add for a while. I'll see if I can get you a batch to test out late this week or early next.

[2019-03-25 18:20] sopatwar commented on #93
@devigned Great!
Will wait for your update.

Thanks,
Sourabh

[2019-03-30 20:57] vangent opened #114 "SubscriptionWithReceiveAndDelete deletes from all subscriptions to the topic"
* I provision a ServiceBus topic, and two subscriptions for that same topic.
* In Go, I then create two Service Bus subscriptions (corresponding to the 2 provisioned subscriptions) with the `SubscriptionWithReceiveAndDelete ` option (https://github.com/Azure/azure-service-bus-go/blob/master/subscription.go#L55).
* I send a message to the topic.

**Expected**: Both subscriptions should get the mess

[2019-03-30 20:58] vangent commented on #114
A bit more context and sample code is here:
https://github.com/google/go-cloud/issues/1600

[2019-03-31 00:29] devigned commented on #114
Thank you @vangent for bring up this odd behavior. I've started an internal investigation into this issue, and will report back as soon as I have some details.

[2019-04-01 22:21] devigned commented on #114
@vsaroopchand and @vangent take a look at #115. I believe the test shows two subscriptions running with `SubscriptionWithReceiveAndDelete()` receiving two messages from a single topic. Thoughts?

[2019-04-01 23:27] vangent commented on #114
You are right; it works. It turns out that our test was creating the same subscription twice after shortening a "too long" name by truncating the part of the name that made it unique.

Sorry for the trouble, and thanks for looking into it!

[2019-04-01 23:27] #114 closed

[2019-04-02 00:48] devigned commented on #114
Great news!! Thank you for confirming.

[2019-04-08 05:03] g-rad opened #116 "Expired credentials"
We're having issues with receiving messages from the queue. First two hours it runs, it works fine. 2 hour later we consistently get the error: link detached, `reason: *Error{Condition: amqp:link:detach-forced, Description: Unauthorized access. 'Listen' claim(s) are required to perform this operation. Resource: 'sb://x.servicebus.windows.net/test-timeout'., Info: map[]}`

**Environment**

- OS: Do

[2019-04-08 14:51] devigned commented on #116
First off, this shouldn't happen. Upon an error in a link, the link, session and connection will be rebuilt. During the rebuild a new token should be generated, either through via SAS (signed request via access policy key) or Azure Active Directory.

Since you are not using go modules, can you tell me what the versions of vcabbage/amqp and azure-amqp-common-go are being used? I'm hoping that dep w

[2019-04-08 15:10] sopatwar commented on #93
@devigned
Do you have any update for me ?

Thanks,
Sourabh

[2019-04-09 07:05] g-rad commented on #116
Hoping for a quick fix, I created a new test project with go 1.12 and modules and the same code, unfortunately the issue persists.

[code]

will provide OpenTracing and logs tomorrow.

[2019-04-10 09:20] g-rad commented on #116
Hi @devigned

First call of ReceiveOne:
<img width="700" alt="queue_1" src="https://user-images.githubusercontent.com/637836/55866898-6f997380-5bd5-11e9-8af3-b4db9bea4bfd.png">

then since I have 10 minutes timeout there were 13 identical spans, the 14th (last) looks like this:
<img width="702" alt="queue_2" src="https://user-images.githubusercontent.com/637836/55866979-9f487b80-5bd5-11e9-8b57-7fc

[2019-04-11 15:21] devigned commented on #93
Sorry to say that I haven't been able to get to this feature due to other work priorities. I will try to get it out as soon as possible.

[2019-04-11 22:13] g-rad commented on #116
All right, so queue.ReceiveOne() does not recover connection as queue.Receive() does.

The reason I was using queue.ReceiveOne() instead of queue.Receive() is I'm having different type of issues with queue.Receive()

[2019-04-11 22:42] devigned commented on #116
ReceiveOne should also recover. Marking as the bug it is.

[2019-04-13 11:45] g-rad opened #118 "queue.Receive() receives messages with LockedUntil expired"
When queue.Receive() is used and processing time is longer that queue lock duration, the messages received by handler have expired LockedUntil.

Initially I planned to use queue.Receive() with completing messages right after receiving by handler and then processing them, this way I make sure the message won't be returned to the queue if processing takes longer than lock duration.

However, with th

[2019-04-14 01:23] mcgradycchen commented on #118
Hello,

Please use ReceiveAndDeleteMode, so the message is deleted directly.

[2019-04-14 20:50] g-rad commented on #118
Thanks @mcgradycchen.
ReceiveAndDeleteMode is a tricky option. On one hand messages will be deleted directly, so queue.Receive() will work with long processing, which is good. At the same time, in case of worker crash we will lose several messages which were taken by queue.Receive() from the queue and stored in the Receiver channel.

[2019-04-15 06:27] g-rad opened #119 "amqp: receiver settlement mode "second" requested, received "first" from server"
A few hours ago our production code suddenly started getting errors from queue.Send()
Error: receiver settlement mode "second" requested, received "first" from server

Just in case I'm providing how we create queue client instances:
[code]

After `go get -u`:
azure-amqp-common-go v1.1.4
azure-service-bus-go v0.4.0

[2019-04-15 08:11] mkfsn commented on #119
Same here, suddenly happened today.

[2019-04-15 09:50] maxtar commented on #119
And we got the same. :(

[2019-04-15 15:00] devigned commented on #119
I believe if you lock into amqp@0.10.4 this should not happen (https://github.com/vcabbage/amqp/releases). In 0.11.0, the handling of settlement mode became strict.

I'm not sure what has triggered this bug (either a server code change or an update to the AMQP lib in your deployments). If everyone can provide the version of AMQP they are using, it would be super helpful.

Either way, I will addres

[2019-04-15 20:57] g-rad commented on #119
In our production branch we use dep:
azure-service-bus-go v0.2.0
amqp v0.10.1
Adding override to Gopkg.toml solved the issue:
[code]

[2019-04-16 16:43] devigned commented on #118
This is a tricky situation. Perhaps, I can suggest one way of approaching long running messages while minimizing chance of losing messages.

I suggest using PeekLock to receive the message, default behavior of Receive and ReceiveOne with the prefetch set to 1, also the default. Then while processing the message have a go routine to request an extension to the lock on the message. Check out [lockre

[2019-04-16 22:37] devigned commented on #119
Probably shouldn't have closed this with the `fixed` in the PR, but here we are... I'm going to leave it closed, bump the version and tag.

After upgrade (0.4.1), if you run into the issue again, please reopen.

[2019-04-16 22:43] g-rad commented on #119
Thanks @devigned
Just curious was it azure server code update what made this issue to appear?

[2019-04-16 22:57] devigned commented on #119
I'm still getting to the bottom of that.

The facts as they stand now, is that when I updated to 0.11.0, the test suite passed. After this issue was opened, I ran the test suite again and it didn't pass due to settlement mismatch when creating a sender.

I'll report back as a root cause is determined.

/cc @maggiepint

[2019-04-17 20:47] g-rad commented on #118
Thanks @devigned
Renewal of active messages in a go routine sounds fine and it's definitely more reliable with PeekLock mode and prefetch=1.

[2019-04-24 22:38] PakDLiu opened #122 "Use minimum TLS 1.2"
As per Azure standards, minimum TLS version is 1.2.
Please update the TLS config in the http client to use 1.2 as the minimum version.

[2019-04-25 00:46] devigned commented on #93
Sorry for the long wait, but here's a branch with WSS support. I'll be adding an example shortly and more tests shortly.

[2019-04-25 17:02] #93 closed

[2019-04-25 19:55] sopatwar opened #124 "Breaking change in go-autorest@v12.0.0"
I tried to update the codebase to latest.
I'm running into the following error:

~/go/src/github.com/Azure$ go get -u github.com/Azure/azure-service-bus-go/...
# github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources
azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/models.go:98:20: future.Done undefined (type *CreateOrUpdateByIDFuture has no field or method Don

[2019-04-25 20:17] devigned commented on #124
Hmm... that's not good. I'll check.

Are you using go modules or just pulling latest from everything?

[2019-04-25 20:23] sopatwar commented on #124
I'm not using go modules.

~/go/src/github.com/Azure$ go version
go version go1.10.1 darwin/amd64

I believe modules were added in 1.11

Thanks,
Sourabh

[2019-04-25 20:29] devigned commented on #124
I __HIGHLY__ recommend using go modules or some form of dependency management. Reproducible builds will make you so much happier.

With that said, I'll get a fix out ASAP.

@jhendrixMSFT and @Azure/go-admins looks like there's a breaking change.

[2019-04-25 20:32] jhendrixMSFT commented on #124
This is a known issue, the breaking change was introduced in `go-autorest` v12.0.0 and `master` has not yet been updated (ETA is later today).  Pinning to v27.x.x of the SDK using `dep` will resolve this issue.
https://github.com/Azure/azure-sdk-for-go/issues/4579

[2019-04-25 20:33] devigned commented on #124
@jhendrixMSFT, thank you for the quick response!

[2019-04-25 21:32] sopatwar commented on #124
Thanks for all the responses!
Will wait for master to be updated and then test #123

-Sourabh

[2019-04-25 21:34] sopatwar commented on #93
@devigned Thanks for committing this!
Will wait for #124 to get sorted out and then test this out.

-Sourabh

[2019-04-26 16:00] bitfield commented on #124
This doesn't seem to help:

[code]

[2019-04-26 16:05] jhendrixMSFT commented on #124
Are you using `dep` to manage the dependencies?  v27.3.0 of the SDK relies on v11.9.0 of go-autorest which still contains the `Done()` method.
https://github.com/Azure/azure-sdk-for-go/blob/master/Gopkg.toml#L28

[2019-04-26 16:11] bitfield commented on #124
No `dep`, just Go. I've tried:

[code]

That works, but the build still fails with the same errors.

[2019-04-26 16:22] jhendrixMSFT commented on #124
Can you use v11.9.0?

[2019-04-26 16:45] bitfield commented on #124
Yes, v11.9.0 works, thank you.

[2019-04-26 19:20] devigned commented on #124
@jhendrixMSFT when do you think there will be a tagged release of Azure SDK for Go that will use go-autorest@v12.0.0?

[2019-04-26 19:24] devigned commented on #93
@sopatwar, I'm hoping #124 gets sorted out quickly, but if you use `dep` or `vgo` you should be able to use the SDK without the delay of waiting on #124.

[2019-04-26 19:30] jhendrixMSFT commented on #124
Hopefully today.

[2019-04-26 21:46] jhendrixMSFT commented on #124
Done https://github.com/Azure/azure-sdk-for-go/releases/tag/v28.0.0

[2019-04-26 22:51] sopatwar commented on #119
As a data point, the following was working ok:
azure-amqp-common-go v1.1.3
azure-service-bus-go v0.4.0
pack.ag/amqp v0.11.0

[2019-04-27 19:19] sopatwar commented on #124
@jhendrixMSFT Thanks!

[2019-04-27 19:19] #124 closed

[2019-04-29 18:19] sopatwar commented on #93
@devigned
I need to use the new web sockets API from on-prem (go through IT-managed https proxy)
I was thinking about using [ReverseProxy](https://golang.org/pkg/net/http/httputil/#ReverseProxy)
Reference:  [Golang  1.12 docs](https://golang.org/doc/go1.12#net/http/httputil)

Is this supported by the API, or is it feasible to extend the API ?

Thanks,
Sourabh

[2019-04-29 19:40] sopatwar commented on #93
@devigned
I need to use the new web sockets API from on-prem (going through IT-managed HTTP proxy)
The golang websocket package cannot handle this.
An alternative library suggested in the godoc is [goriila](https://github.com/gorilla/websocket)

Can you make the Azure API configurable to use gorilla web socket as an option?
This would enable using web socket via http proxy.

Thanks,
Sourabh

[2019-04-29 20:22] devigned commented on #93
I was toying with the idea of allowing consumer of the library to supply their own `net.Conn`. That way consumer can be as flexible as they wish. Thoughts?

[2019-04-29 20:54] ramya-rao-a opened #126 "Receiving deferred messages in ReceiveAndDelete mode doesn't remove the messages from Queues without settling"
Sample Code: https://gist.github.com/ramya-rao-a/dc8dc7f6b9c2573995f7531cccedd507

Steps:
- Send a message
- Receive and defer the message
- Receive the deferred message in ReceiveAndDelete mode

Expected:
- Deferred Message to be removed from the queue

Actual:
- Deferred Message stays in the queue until settled explicitly

[2019-04-29 20:57] vcabbage commented on #93
I think the tricky part is that the gorilla package is designed for the more typical websocket use case of sending messages back and forth, rather than purely as a data transport like `x/net/websocket` exposes and AMQP expects. You'd likely need to write an adapter to make the gorilla client work as a `net.Conn`. The other option would be to update `x/net/websocket` to support proxying.

[2019-04-29 21:07] devigned commented on #93
One other option that looks like it could work is: https://github.com/nhooyr/websocket. Using the `DialerOptions` one could configure an `http.Transport` to use a proxy.

[2019-04-29 21:16] ramya-rao-a opened #127 "Receiving deferred messages from session enabled Queues results in "context deadline exceeded""
Sample Code: https://gist.github.com/ramya-rao-a/a87ead13eb3aa7fbd91623f82c055a1f

Steps:
- Send a message to a session enabled queue
- Receive the message and defer it
- Receive the deferred message

Expected:
- receive the deferred message

Actual:
- `context deadline exceeded`

[2019-04-29 21:46] sopatwar commented on #93
Although I like @vcabbage's suggestion (update x/net/websocket to support proxying), that might be more involved. Additionally, it will only be available in the latest Golang version (or beyond).

A 3rd-party package approach, such as the one you pointed out [nhooyr](https://github.com/nhooyr/websocket), seems better.

Thanks,
Sourabh

[2019-04-29 22:31] vcabbage commented on #93
The `x` packages are developed outside of the main Go repo and not considered part of the stdlib. Any changes to it should be available immediately and hypothetically support any Go version (depends on APIs in use of course). Or did you mean something else?

I think the nhooyr library would be similar to gorilla in that it would need a `net.Conn` adapter.

[2019-04-29 22:57] sopatwar commented on #93
oh ok, I didn't know about this. I was concerned about using the latest Golang version.

[2019-04-29 23:09] vcabbage commented on #93
Doesn't look like `x/net/http` uses `net/http`, so wrapping one of the others is likely the easier route.

[2019-04-30 01:39] vcabbage commented on #93
Here's a wrapper for gorilla/websocket that seems to work, might be a useful starting point. It uses the underlying `net.Conn` instead of the `websocket.Conn` fields (`SetReadDeadline`, etc) because they don't appear to fully adhere to the `net.Conn` requirements.

[code]

[2019-04-30 14:46] nhooyr commented on #93
@vcabbage my library doesn't need a net.Conn wrapper, you can configure the http.Transport to use a HTTP proxy as mentioned by @devigned

[2019-04-30 15:38] vcabbage commented on #93
@nhooyr My library (https://github.com/vcabbage/amqp; the underlying AMQP implementation) requires a `net.Conn` :) Unless I've missed something a wrapper would be required to have yours fulfill that requirement.

[2019-04-30 15:50] nhooyr commented on #93
Yes, it would but all the other libraries would as well. With mine, you don't need to handle the proxy logic or the net.Dial yourselves. You just use net/http.

[2019-04-30 15:56] vcabbage commented on #93
No argument from me on that :) I don't have any particular preference on the issue, only involving myself because of the AMQP package.

It does appear that your library would need to expose the underlying `net.Conn` in order to be properly wrapped.

[2019-04-30 16:22] nhooyr commented on #93
You should be able to wrap it without exposing the underlying net.Conn.

Why use WebSockets here at all versus using HTTP Connect to tunnel over HTTP?

[2019-04-30 16:27] devigned commented on #93
@nhooyr, thanks for the clarifying.

Also, love the use of ctx across the API. Ran across your lib via a reddit post and appreciated the [comparison in the readme](https://github.com/nhooyr/websocket#comparison).

[2019-04-30 16:32] vsaroopchand opened #128 "Improve Batch Disposition Error Handling"
Proposing an improvement to the BatchDisposition Operation error handling. The current implementation short-circuits the iterator without disclosing what LockTokenIDs are processed or failed.

https://github.com/Azure/azure-service-bus-go/blob/c39276f8defa1940171d378a75d5cc83d7c551d8/batch_disposition.go#L50

My proposal is to return a struct containing a map of all LockTokens & associated Errors.

[2019-04-30 16:33] vcabbage commented on #93
It needs a way to implement the deadline methods of `net.Conn`. To be fair, I'm not certain my example with the gorilla wrapper properly implements those methods either, something more involved may be required. They're a bit tricky considering they need to unblock the reader/writer without killing the connection.

AMQP 1.0 can be used directly over TCP, TLS, or on top of WebSockets, as defined by

[2019-04-30 16:54] nhooyr commented on #93
Your example seems solid to me. It'd be very similar with my library. gorilla/websocket just makes it easier because it doesn't use context.Context. For mine, you'd have to store a read and write context on the structure and use it for reading/writing and update it when the SetDeadline methods are called.

[2019-04-30 23:17] #122 closed

[2019-05-08 11:24] stianlagstad opened #132 "`unexpected module path "golang.ord/x/lint"` on `make all`"
Hi,

I'm believe I'm running into [this issue](https://github.com/golang/lint/issues/436) when running `make all`:
[code]

Is there something I can do to bypass that?

I'm new to golang and to this library, so please don't hesitate to close this issue and tell me to debug further myself.

[2019-05-08 11:30] stianlagstad commented on #132
I of course figured out a way to solve it a couple of minutes after creating the issue. After doing `go get -u golang.org/x/lint/golint` to install golint on my system, `make all` got past that error and succeeded.

I do see golint mentioned in the [contributing](https://github.com/Azure/azure-service-bus-go/blob/master/CONTRIBUTING.md) page, but could it also be worth modifying the `Makefile` to

[2019-05-08 12:42] stianlagstad opened #133 "How to get a hold of this module's logs?"
Hi,

Id like to see the logs that this module outputs (specifically [this one](https://github.com/Azure/azure-service-bus-go/blob/master/sender.go#L198). I see that azure-service-bus-go makes use of [azure-amqp-common-go](https://github.com/Azure/azure-amqp-common-go) and [its logger](https://github.com/Azure/azure-amqp-common-go/blob/master/log/logger.go#L58). Is there a way I could inject my own

[2019-05-21 17:21] devigned commented on #133
The logging is a bit in flux right now. I need to move [azure-amqp-common-go](https://github.com/Azure/azure-amqp-common-go) over to using a [tracing / logging abstraction](https://github.com/devigned/tab). By using `devigned/tab`, you would be able to provide your own `Tracer` implementation or use OpenCensus or OpenTracing.

What do you think?

[2019-05-21 17:22] devigned commented on #132
Noted and will address time willing :).

[2019-05-21 18:40] stianlagstad commented on #133
Thank you for the answer! That sounds like a good idea to me.

[2019-05-30 00:43] #128 closed

[2019-05-30 22:39] devigned commented on #119
The Azure Service Bus had deployed a change to the service which responded unexpectedly when negotiating the link mode, thus the error noted in the original issue. The service has rolled back the change and should work with amqp v0.11.0. This also explains why this worked initially when migrating to amqp v0.11.0 and tests passed in some other regions (onion skin deployment of service changes).

Ba

[2019-06-06 17:04] #39 closed

[2019-06-06 17:28] devigned commented on #133
Ok, now that `v0.8.0` is released, you can leverage `github.com/devigned/tab` and `github.com/devigned/tab/opencensus` or `github.com/devigned/tab/opentracing` to collect logs and traces.

A good example of setting this up is the [testhub command line tool](https://github.com/devigned/testhub). I use `testhub` to execute some long running tests against event hubs, but the setup is the same for ser

[2019-06-06 17:32] devigned commented on #68
related #118

[2019-06-06 17:32] devigned commented on #118
I'm going to close this and use #68 to track the work associated with improving the lock renewal behavior.

[2019-06-06 17:32] #118 closed

[2019-06-10 18:17] jakebjorkekato commented on #116
We have started to see this bug on service bus topic subscriptions as well.

[2019-06-10 18:36] devigned commented on #116
I'll give this some attention this week.

[2019-06-10 21:56] orourkedd commented on #119
I'm still seeing this issue w amqp v0.11.0, but not with amqp v0.10.4

[2019-06-10 22:01] devigned commented on #119
@orourkedd what version of azure-service-bus-go are you using?

[2019-06-10 22:06] orourkedd commented on #119
From my go.mod: github.com/Azure/azure-service-bus-go v0.3.0

[2019-06-10 22:09] devigned commented on #119
There's the issue. I would suggest updating to the latest version if possible, `v0.8.0`. If not possible to use `v0.8.0, then at least a version >= `v0.4.1`.

[2019-06-10 23:22] orourkedd commented on #119
That did it.  Thanks!

[2019-06-12 15:04] orourkedd commented on #119
I'm noticing this issue intermittently.  It turns out that the downgrade to v0.3.0 was the result of debugging v0.8.0.  The issue is happening again.  Here are my go.mod and go.sum:

go.mod
`module github.com/my/module

go 1.12

require (
	github.com/Azure/azure-service-bus-go v0.8.0
	github.com/imroc/req v0.2.3
	github.com/pkg/errors v0.8.1
	github.com/sanity-io/litter v1.1.0 // indirect
)
`

go.

[2019-06-12 15:13] orourkedd commented on #119
After further investigation, I can confirm that it's not intermittent.  It happens consistently on one topic/subscription but not on another.  What I mean is that when I try with topic `TopicA` and subscription `SubscriptionA` it always fails.  When I switch to `TopicB` and `SubscriptionB`, it always works.

The only difference that I can think of is that `TopicB` is new (created yesterday), but `

[2019-06-12 16:05] devigned commented on #119
Wow... That is really odd, @orourkedd! @nemakam, any thoughts on why SB would behave this way?

[2019-06-12 16:36] orourkedd commented on #119
Here are the settings for the subscription.  These settings are the only other differences I can find, outside of creation time.

Not Working:
[code]

Working:
[code]

[2019-06-14 16:33] devigned commented on #133
I'm going to close this issue since I think the original question has been answered. However, I'm going to add a doc page which provides this information in a more discoverable and easier to digest form.

[2019-06-14 16:33] #133 closed

[2019-06-14 21:39] devigned commented on #119
I found another case where this error can occur.

If one is receiving using a session filter `queue.NewSession` and the queue is not built with `QueueEntityWithRequiredSessions()`, then the error returned from link establishment will be `amqp: receiver settlement mode "second" requested, received "first" from server` rather than the detach error `amqp:not-allowed, Description: A sessionful message

[2019-06-17 10:37] stianlagstad commented on #133
Thank you very much @devigned ! I do not have time to test this now, but we will use this :)

[2019-07-02 14:51] joseph-norman commented on #116
Any updates on this? Just found this after having received this for some time with service bus topic/subscription setup also. Can provide context if needed.

[2019-07-03 18:12] nhooyr commented on #93
My library now natively supports adapting a *websocket.Conn as a net.Conn to make tunnelling arbitrary protocols over WebSockets very easy.

https://godoc.org/nhooyr.io/websocket#NetConn

[2019-07-08 20:16] devigned commented on #116
Sorry... just getting back from vacation.

I wanted to get a fix out before I left, but ran out of time. I'm working on it now.

[2019-07-15 06:50] patnaikshekhar opened #136 "Azure MSI Support"
**Feature Request**

It would be very useful to have MSI (Managed Service Identity) support in this library. An example would be

[code]

[2019-07-15 17:11] devigned commented on #136
Good catch! I had been meaning to an environmental configuration like Event Hubs has (https://github.com/Azure/azure-event-hubs-go/blob/64aa20d6c1260df9c7fc558e6892adc9bec9ff9f/hub.go#L358-L401). With that said, you could use the JWT (https://github.com/Azure/azure-amqp-common-go/blob/v1.1.0/aad/jwt.go) token provider in Service Bus to achieve the same result prior to me adding the feature as a co

[2019-07-15 20:18] #127 closed

[2019-07-16 22:43] devigned commented on #116
Anyone watching this thread want to give the [expired-creds branch](https://github.com/Azure/azure-service-bus-go/tree/expired-creds) a test. I believe this should renegotiate credentials on live clients so that they never expire.

I'll be running some endurance tests to verify, but would appreciate others' experiences. Thank you!

[2019-07-18 02:15] gavinfish commented on #96
It needs to provide the entity path when sending the token over to CBS. For now, it will return `404` regardless which token you provide if the entity does not exist.

Test code:
[code]

Result: `unhandled error link ***: status code 404 and description: The messaging entity 'sb://**.servicebus.windows.net/helloworld1' could not be found. TrackingId:***, SystemTracker:**.servicebus.windows.net:hel

[2019-07-18 06:38] patnaikshekhar commented on #136
Thanks @devigned that seemed to work. I'll send across a pull request next week!

[2019-07-18 16:17] devigned commented on #96
@gavinfish that's an interesting insight. I think the 404 here would be enough to say no, the entity does not exist.

I'm guessing there will be a different error when the token is unauthorized for the entity path. It would be a good case to test.

I'm still unclear on how we should surface `Exists()`. Should exists really be `Stat()` or something like that which would return if the entity exists,

[2019-07-18 22:32] devigned commented on #116
I'm going to close this issue since the cred refresh has been merged. If you still find this is an issue, please reopen.

[2019-07-18 22:32] #116 closed

[2019-07-18 22:53] devigned commented on #119
As of v0.11.2 of pack.ag/amqp this error will be returned only in the case of actual settlement mode mismatch. The dependency on v0.11.2 has been merged into master and should resolve this issue.

[2019-07-18 22:53] #119 closed

[2019-07-18 22:59] devigned commented on #126
@ramya-rao-a have you been able to achieve this with the JS / TS lib?

Here's what the code should look like for defer with receive and delete, but defer doesn't seem to handle receive and delete properly. The test code below fails since the queue still says there's 1 message left to process.

https://github.com/Azure/azure-service-bus-go/blob/d960efc2286827a16a072a7fbc1a025ad7f51983/queue_test.go

[2019-07-19 14:29] patnaikshekhar commented on #136
@devigned I seem to be getting a different error now - FATAL:  unhandled error link XXXXX status code 401 and description: InvalidAudience: Invalid authorization token audience. TrackingId:XXXXXXXX, SystemTracker:NoSystemTracker, Timestamp:2019-07-19T14:18:23

I don't think that the generated token has the audience set to https://servicebus.azure.net

[2019-07-19 14:31] jsanjuas opened #139 "go get fails"
Running `go get -u github.com/Azure/azure-service-bus-go` currently fails. To reproduce:

[code]

[2019-07-19 15:13] devigned commented on #139
I believe the way you are pulling the modules down is not using go modules, but rather git from the head of master. Using a simple pull from head of the transitive closure of dependencies should work most of the time, but you are not guaranteed you are going to have a tested combination of modules. I highly recommend using go modules to ensure you have a consistent experience and a reproducible bu

[2019-07-19 15:24] devigned commented on #139
I think I closed this prematurely. I'll fix the direct git pull issue today.

[2019-07-19 16:58] devigned commented on #136
Oh no... you are correct!

[code]

[2019-07-19 18:32] #139 closed

[2019-07-21 07:28] patnaikshekhar commented on #136
Strangely I'm getting the same error
FATAL:  unhandled error link 4f2e89fc-af4e-45ce-a767-9be2e9e60fe9: status code 401 and description: InvalidAudience: Invalid authorization token audience. TrackingId:d012a242-2528-4a3b-bac2-855d2315f96c, SystemTracker:NoSystemTracker, Timestamp:2019-07-20T22:17:00

This is what I have so far
[code]
This is my sample code that I'm testing with
[code]

[2019-07-24 10:15] gavinfish opened #141 "Parallel sending batch messages may get nil pointer exception"
[sample code](https://github.com/VSChina/testbus/blob/master/cmd/max_send.go)

Step to reproduce:
1. build the testbus project
2. run command `testbus max-send --conn-str="***"`

For a while, error like below will be thrown:
[code]

It seems that a service bus Sender is detached from its amqp sender.

[2019-07-24 17:02] devigned commented on #136
Looks like the audience is incorrect. This is the string specified by `serviceBusResourceURI`. I think I omitted the end "/" when I specified it in the previous reply. Based on the [SB JS lib](https://github.com/Azure/azure-sdk-for-js/blob/550f9596a7d1055f6a6f03bb54cff262431aaab0/sdk/servicebus/service-bus/src/serviceBusClient.ts#L233), I'm thinking it should be "https://servicebus.azure.net/".

*

[2019-07-24 17:18] devigned commented on #141
There needs to be a reader lock in place when the sender is sending, so that if an error is encountered and the sender (connection, session, link) needs to be recreated, it will do so in an atomic manor.

I expect this is happening when a send fails due to error in one of the senders and `sender.Recover` is called. `Recover` calls `Close`, which then nils the amqp related fields. `Recover` then re

[2019-07-24 19:13] jakebjorkekato commented on #116
We were able to get around to testing this fix this week.

That seemed to resolve the issue and is working well.  Thanks.

[2019-07-24 19:24] devigned commented on #116
Thank you, @jakebjorkekato.

@gavinfish is doing some endurance / performance testing to stabilize the library before committing to a 1.0 release. This work should expose and correct issues like this.

If you run into any other odd issues related to long running processes / connections, please don't hesitate in opening an issue.

[2019-07-25 06:54] metrue opened #142 "Send event failed "amqp: sender settlement mode "unsettled" requested, received "mixed" from server""
checked https://github.com/Azure/azure-service-bus-go/issues/111 for reference, but did not find any clue.

here is my test code,

[code]

run it with `go run` but got error message,

[code]

[2019-07-25 07:26] gavinfish commented on #142
@metrue Please upgrade your sdk version to `github.com/Azure/azure-event-hubs-go/v2` and have a try. Thanks.

[2019-07-25 07:29] metrue commented on #142
@gavinfish

Same issue after I update to v2.

[code]

[2019-07-25 10:38] gavinfish commented on #141
@devigned Agree, there are some throttle restriction on the service side, so sending lots of messages in parallel may fail sometimes.

And this issue seems to be caused by failing to recover the session and link. [code](https://github.com/Azure/azure-service-bus-go/blob/e1e88bc99d4cc930056f18c8a4671f259d0d2336/sender.go#L218) here just sends debug span instead of dealing with the situation. Should

[2019-07-25 10:45] gavinfish commented on #141
Details about the error messages:

**Throttle error**
[code]

**Recover error**
[code]

[2019-07-28 07:34] patnaikshekhar commented on #136
@devigned good catch. It works now! Thanks a lot.

[2019-07-29 17:49] devigned commented on #141
I have not seen that error on attach! Interesting...

I think you are right, we should attempt to recover the connection again as long as the context has not expired. Do you agree?

[2019-07-30 02:56] metrue commented on #142
@gavinfish

Sorry man, I opened the issue at the wrong repo, this issue should go to https://github.com/Azure/azure-event-hubs-go.

I will close it now, sorry for the inconvenience.

[2019-07-30 02:56] #142 closed

[2019-07-30 03:26] gavinfish commented on #136
`MSI` is deprecated, we may not use it in a public method name any more. Details at [About managed identities for Azure resources](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview).

[2019-07-30 05:43] gavinfish commented on #141
Agree. And I prefer to implement similar logic as [receiver](https://github.com/Azure/azure-service-bus-go/blob/e1e88bc99d4cc930056f18c8a4671f259d0d2336/receiver.go#L296-L323) does.

[2019-08-02 19:19] jakebjorkekato opened #145 "batch disposition doUpdate returns unexpected result"
When calling `SendBatchDisposition` [here](https://github.com/Azure/azure-service-bus-go/blob/master/entity.go#L207)

It uses `doUpdate` [here](https://github.com/Azure/azure-service-bus-go/blob/master/batch_disposition.go#L69)

The issue is that a zero value is returned for the error, which isn't expected behavior in go.

For a calling function that operates normally you can expect this code

[co

[2019-08-02 19:26] devigned commented on #145
Yeah... that’s definitely wrong. Thanks for the issue!

[2019-08-06 01:41] #141 closed

[2019-08-19 08:38] adis-me opened #146 "Socket: too many open files"
Hi all,

I run a GoApp to receive messages in production from an Azure service bus. Basically keeping the connection open for 5 minutes (PeekLock of 300 sec) to receive new messages. This app is scheduled to run on days between 08:00 and 18:00 o'clock. Can increase in future.

After few days (4 days) I see the error:

[code]

Are the connection that azure-service-bus-go is creating also automatica

[2019-09-06 06:33] gavinfish commented on #146
I think there are some corner cases where the connections are not closed properly here.

[2019-10-03 16:55] #145 closed

[2019-10-30 15:06] brocaar opened #149 "Panic after calling Send (after x hours of functioning properly)"
I'm not sure if this is a bug in the SDK (it looks similar to this issue: https://github.com/Azure/azure-service-bus-go/issues/141), or a implementation issue at my side that I'm not aware of, but after hours of functioning properly and publishing messages to the Azure Service Bus, my application panic-ed with the following trace:

[code]

As you can see in the trace, this is where the SDK gets ca

[2019-10-30 16:08] devigned commented on #149
Ok, so `s.session` must be nil (https://github.com/Azure/azure-service-bus-go/blob/e1e88bc99d4cc930056f18c8a4671f259d0d2336/sender.go#L151). That should only happen if the internal state of sender is in an unexpected state when `Send` was called.

I think what might be happening is that the sender is recovering or closing the connection at the same time as the `Send` func is called. `Close` will s

[2019-10-31 18:55] brocaar commented on #149
@devigned I think when adding

[code]

to the `Send` function, this might cause a deadlock (`Send` calls `trySend` which might call `s.Recover` which will acquire a lock too).

I'm not sure if putting the lock only around `msg.SessionID = &s.session.SessionID ` would be safe / sufficient as `SessionID` is a pointer to a value which might change when the recovery is triggered in an other go-routine

[2019-11-04 15:44] asanchezdelc commented on #149
Any timeline on when this will be fixed?

[2019-11-11 14:36] brocaar commented on #149
@devigned could you give an update on the status of this issue? Currently several Azure customers are affected by this issue.

[2019-11-11 16:14] devigned commented on #149
I'm sorry for the delay. I definitely will if no one else is able to attend to the issue. However, I've been trying to transition this project to other folks as my role at MSFT has changed.

@jhendrixMSFT do you know who would be the right person to handle this issue?

[2019-11-11 16:53] jhendrixMSFT commented on #149
@catalinaperalta and myself can take a look.  To set expectations we're both new to this space and there's a lot to unpack here so it might take a while to roll out a fix.

[2019-11-11 17:10] devigned commented on #149
Happy to help if there are any questions, @jhendrixMSFT or @catalinaperalta. Basically, `Send` has a shared resource and locks access when recovering from failure. There is access of the shared state outside of the lock scope. Correcting that access of shared state either by moving it within the scope of the lock, or refactoring out the shared state (session ID) would fix the issue.

[2019-11-11 18:58] jhendrixMSFT commented on #149
What shared state is `clientMu` guarding?  The name implies the `client` field but from this issue it sounds like it's also the `session` field.  Any others?

[2019-11-11 19:15] devigned commented on #149
It's really any action on the client during recovery or initial establishment of a connection. That is why it is `clientMu`. The amqp client consists of a connection, session and link.

[2019-11-22 19:20] catalinaperalta commented on #149
Just wanted to give an update, our suggested fix for this is to put a read lock around:

https://github.com/Azure/azure-service-bus-go/blob/e1e88bc99d4cc930056f18c8a4671f259d0d2336/sender.go#L151-L153

However, we found a performance regression due to a recent change and are looking into it before rolling this out.

[2019-11-25 13:00] fmsolana opened #150 "Dependency error with dep"
I'm using dep to calculate dependencies and I get this error:

init failed: unable to solve the dependency graph: Solving failure: No versions of github.com/Azure/azure-amqp-common-go met constraints:
	v2.1.0: Could not introduce github.com/Azure/azure-amqp-common-go@v2.1.0 due to multiple problematic subpackages:
	Subpackage github.com/Azure/azure-amqp-common-go/v2 is missing. (Package is require

[2019-11-29 14:44] anjoshigor commented on #24
I know this is closed, but I could not find any code for receiving batch messages. How can I perform this operation?

[2019-11-29 14:55] devigned commented on #24
Give this Event Hub example a look: https://github.com/Azure/azure-event-hubs-go/tree/master/_examples/batchprocessing.

Really, receive batching is something that at the protocol level with prefetch. If you want to build up a batch in your receiver before taking some action, then you can build a stateful receiver as shown in the above example.

[2019-12-02 06:53] mcgradycchen commented on #150
Hi @fmsolana, I have a exact same issue.  Did you resolve the problem with version 0.9.1?

[2019-12-02 07:20] mcgradycchen commented on #150
Hi @devigned , after I upgrade my go version to 1.13.4, I can use command `go get -u github.com/Azure/azure-service-bus-go` to install successfully.
But, I have another when I use `dep`, the error output are

try github.com/Azure/azure-amqp-common-go@v2.1.0
(3)	✗   github.com/Azure/azure-amqp-common-go at v2.1.0 has problem subpkg(s):
(3)	  	github.com/Azure/azure-amqp-common-go/v2 is missing; req

[2019-12-02 18:16] devigned commented on #150
Please consider moving to Go modules. I think using `dep` with versioned modules is going to lead to pain.

You can use previous version of this library which take a pre v2.0 dependency on azure-amp-common-go, but later version of this library will break when using `dep`.

This is a systemic issue. See also: https://github.com/golang/dep/issues/2139

[2019-12-02 18:16] #150 closed

[2019-12-02 22:57] devigned opened #152 "Possible repo move for Service Bus"
Just wanted to add this here as it may affect this repo: https://github.com/Azure/azure-sdk-for-go/issues/6463

[2020-01-03 07:40] 123Jun321 opened #154 "the program reported the error invalid memory address or nil pointer dereference"
hi

we had a program that is deployed to the AKS Service， and the program in different VM will receive the different topic messages. Now,  we found that it crashed occasionally at the same time and reported the same error.

the error detail is as below:
[code]

Do you have any idea about that? it seems to be that r.link.paused in go-amqp's client.go  is nil

[2020-01-08 09:27] 123Jun321 commented on #154
hi team
we found when we run the same program in local, it reported this error, too.
So, it seems like it's an SDK problem, not AKS.
and we also found that the subscription has ended the session, but the program would still receive the message and returned an error when processing complete() that will lead the program panic, too.

[2020-01-10 07:24] 123Jun321 commented on #154
hi team. we have sloved it. thanks

[2020-01-10 07:24] #154 closed

[2020-01-15 13:11] bmnielsen opened #155 "401 error renewing locks after the receiver has been open for a few hours"
I'm trying to set up lock renewal in my service bus consumer, as processing the items often takes more than the maximum timeout of 5 minutes, but I'm having problems renewing the locks after the service has been running for a few hours.

At startup I initialize the namespace and queue, create a receiver, and call `Listen` to start receiving messages. The handler function does the following:

1. Cr

[2020-01-16 00:36] mcgradycchen commented on #149
Hi @devigned

After upgrade from v0.7.0 to v0.10.0, we also has the same error.

[code]

And, our consumer still has a panic when do reconnect.

[code]

Any plan to fix this issue ?

Thanks

[2020-01-16 00:54] devigned commented on #149
The current maintainers here are @jhendrixMSFT and @catalinaperalta. I'll defer to them. If needed, I'm happy to advise or to put the PR together.

[2020-01-16 20:48] g-rad opened #156 "servicebus.Queue.Receive returns "context canceled""
Every now and then servicebus.Queue.Receive returns "context canceled" error on production. I suspect every time it happens we lose a queue message.
I can't reproduce it locally and not sure whether it's the SDK bug or an implementation issue.

Any ideas what it could be?

Package version: ```github.com/Azure/azure-service-bus-go v0.9.1```

Example of code below:

[code]

[2020-01-22 01:57] NadeemAfana commented on #156
I am also experiencing the same issue but I am using `github.com/Azure/azure-service-bus-go v0.10.0`. Almost every 2 days, I get the same error `"context canceled"`.

[2020-01-24 06:48] JosephK9 opened #157 "ServiceBus.Subscribe is exiting"
ns,err = servicebus.NewNamespace(servicebus.NamespaceWithEnvironmentBinding(namespace))

Using environment Binding connecting to servicebus subscribe method is exiting  whereas publish and delete are working

[2020-01-31 08:42] eaardal commented on #156
Also experiencing this on version `github.com/Azure/azure-service-bus-go v0.10.0`. Did not have this issue before upgrading from `github.com/Azure/azure-service-bus-go v0.1.1-0.20181113211747-01395671aecd`

[2020-02-22 16:53] johejo commented on #149
Hi.
It has also happened in my production environment.
Any update on this?

[2020-02-28 19:20] sam-at-luther opened #159 "messageFromAMQMessage panic on empty payloads"
I have not been able to reproduce this, however we've seen panics due to this line in message.go master (`1839bfc2a41a03ac130d55a1715188d3c0552f07`)

`func messageFromAMQPMessage(msg *amqp.Message) (*Message, error) {
	return newMessage(msg.Data[0], msg)
}
`
where msg.Data is nil.

[2020-02-28 19:30] sam-at-luther commented on #159
https://github.com/Azure/azure-service-bus-go/pull/160 relates to this issue

[2020-03-13 21:33] anjoshigor commented on #88
Hi,

I'm having some troubles on receiving messages from a topic concurrently using `Subscription.Receive` function. Does anyone have an working example such as the one given by McGrady on Queue client?

Thanks in advance!

[2020-03-27 16:02] davidkuridza opened #161 "Consuming more than one message from the dead-letter queue"
There is a difference in how the messages are consumed from the queue and the dead-letter queue:

[code]

Is there a reason for not being able to receive more than one message from the dead-letter queue?

[2020-04-08 05:16] jakubneubauer opened #162 "Allow to receive message from any session"
In order to process messages without knowing the sessionId it should be possible to receive any message from the queue with sessions enabled. This should create the session for me as normal (having the lock etc...) - the only difference is that I would not provide sessionId in forward.

For examle Java client behaves so when specifying no session id (e.g. sessionId is nil or I would suppose use se

[2020-04-08 05:48] jakubneubauer commented on #162
Hm... it works as I described. Sorry, I tested nil value but another bug in my program caused failure, so I thought that it doesn't work.

[2020-04-08 05:48] #162 closed

[2020-04-10 07:12] eshanchawla0403 opened #163 "the receiver.go file has an issue"
the receiver.go file has an import for ""github.com/Azure/azure-amqp-common-go/v3""

I am not able to find the v3 package when I browse to azure-amqp-common-go folder. I am new to golang and may be missing something very obvious. Can someone please help.

[2020-04-20 17:57] bvwells commented on #163
@eshanchawla0403 the name of the module defined in the go.mod file on the master branch of the repo is named:

github.com/Azure/azure-amqp-common-go/v3

See
https://github.com/Azure/azure-amqp-common-go/blob/master/go.mod

Hope this helps

[2020-04-22 18:50] princjef opened #166 "Custom AMQP annotations cannot be sent/received"
Raw AMQP messages have an [Annotations](https://pkg.go.dev/github.com/Azure/go-amqp?tab=doc#Annotations) map which can contain arbitrary key/value pairs. This map is used by both Event Hubs and IoT Hub to set their own pieces of metadata, but it is also used by other systems and can be interacted with directly when working with other languages. As a result, other systems may produce or expect addi

[2020-04-22 18:51] princjef commented on #166
I'm willing to work up a PR for this issue if the addition seems reasonable. My approach would be equivalent to the one described in https://github.com/Azure/azure-event-hubs-go/issues/173

[2020-04-23 08:58] eaardal opened #167 "Is this repo dead?"
Doesn't seem like there's been any activity since last year. Just curious since my team is waiting for some bugfixes and we're starting to consider other solutions.

[2020-04-28 19:50] #149 closed

[2020-04-28 20:49] jhendrixMSFT commented on #149
Fixed in v0.10.1.

[2020-05-22 06:23] Diastro opened #170 "SAS Policy on topics"
Is there a way to add a new SAS Policy on Topics in go? I've looked around in the sdk and I cannot find an equivalent to : https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-sas#access-shared-access-authorization-rules-on-an-entity

[2020-06-03 19:15] #166 closed

[2020-06-03 19:19] jhendrixMSFT commented on #167
Hello!  Sorry for the lack of inactivity.  I've merged the most recent PRs and tagged a new release.  Were there other fixes you're looking for?

[2020-06-05 16:22] jhendrixMSFT commented on #163
Closing as I believe this has been addressed but do let us know if you have further questions.

[2020-06-05 16:22] #163 closed

[2020-06-05 16:24] jhendrixMSFT commented on #159
This has been fixed in v0.10.2, sorry it took so long.

[2020-06-05 16:24] #159 closed

[2020-06-16 16:43] MaheshDevireddy opened #171 "Need info on production availability of Service Bus for Golang"
Hi Team,

We are looking forward for using Service Bus with subscriber implementation with Golang. The github documentation says that this is currently available only in preview as in this link: https://github.com/Azure/azure-service-bus-go#preview-of-service-bus-for-golang.

Can you please let us know when will this be available in production as we cannot go live with the preview version. Our pla

[2020-07-01 18:15] jjcollinge opened #173 "Complete/Abandon message doesn't honour provided context done channel"
I'm using `azure-service-bus-go` in the [Dapr Azure Service Bus PubSub provider](https://github.com/dapr/components-contrib). I've hit an edge case that has identified what I believe is a bug in this sdk.
This is being tracked here: https://github.com/dapr/components-contrib/issues/376

The context that is provided to the [Message Complete/Abandon](https://github.com/Azure/azure-service-bus-go/blo

[2020-07-01 20:29] devigned commented on #173
This could be a slightly complex change to have context added to `message.Accept()` (as well as the other message disposition signatures) in https://github.com/Azure/azure-service-bus-go/blob/dfc63648e72847d8db99808d311034f50c250355/message.go#L185 and then added to https://github.com/Azure/go-amqp/blob/b7e606c9aeea94107dda25fd2e9f613e122da24e/types.go#L1785-L1792 which would then require context

[2020-07-01 22:19] jovillas opened #174 "Error calling ReceiveOne()"
I'm receiving an error from ReceiveOne() function that just forwards what appears to be a server-side error or an amqp dependency error back to the user. The error clearly ask to retry.
[code]

The only way for the user of azure-service-bus-go to handle this error and retry is to actually parse the error text. That is not a very useful API.

Can you either add a isRetriable(error) function or an e

[2020-07-02 17:33] jjcollinge commented on #173
@devigned yeah thanks for the heads up - I made some patches to the following repos to get my gist working as expected; i.e. messages timing out when disconnected.
This has resulted in the following PRs:
- https://github.com/Azure/azure-service-bus-go/pull/175
- https://github.com/Azure/go-amqp/pull/7
- https://github.com/Azure/azure-amqp-common-go/pull/46

I appreciate it might not be so simple t

[2020-07-02 19:53] devigned commented on #173
@jhendrixMSFT this is a big improvement for the disposition funds. Please consider these.

[2020-07-06 18:29] princjef opened #176 "Add ability to verify entity type with restricted permissions"
When working with restricted Send permissions, there is no way today to verify through the SDK that the entity you're working with is of a specific type (i.e. queue vs topic). Similarly, it's possible in many cases to pass connection information for an Event Hub and still have it work for some scenarios but not others.

The .NET SDK makes a distinction between trying to do general purpose sending

[2020-07-26 19:33] fhopfensperger opened #177 "Cancel scheduled messages not working"
Hi together,
at the moment I'm creating a simple cli using this cool library to send/receive AMQP messages.

Right now I'm struggling with cancelling a scheduled message. If I use the example (https://godoc.org/github.com/Azure/azure-service-bus-go#example-Queue--ScheduleAndCancelMessages)
I always get the following error message
[code]

Does anyone else have the same problem?

Thank you for your

[2020-07-30 07:28] g-rad opened #178 "Queue.Send receiving amqp:internal-error error if PartitionKey is set"
We are using v0.9.1 to send messages to a service bus queue. A few hours ago today our code that calls Queue.Send has stuck indefinitely. Further investigation revealed that Sender.trySend receiving an amqp.Error with following attributes:
* Condition: amqp:internal-error
* Description: The service was unable to process the request; please retry the operation. For more information on exception typ

[2020-07-30 10:47] devigned commented on #178
Are you batching the messages?

[2020-07-30 18:33] g-rad commented on #178
@devigned no, we are not. I added an example of the code to reproduce the issue.

[2020-08-04 07:57] ianaz commented on #167
Sorry to write here. I thought this issue is more appropriate to ask my question. What's the difference between https://github.com/Azure/go-amqp and this repository? Is go-amqp deprecated?

[2020-08-04 12:31] devigned commented on #167
go-amqp is the "protocol library". That library implements the AMQP 1.0 protocol, and could be used with any AMQP 1.0 compatible broker, not just Service Bus or Event Hub.

This library is intended to provide a client interface which exposes features specific to Azure Service Bus which are implemented via AMQP.

I think the best analogy is this library is the client interface for a specific REST A

[2020-08-04 15:52] ianaz commented on #167
Thanks @devigned ! this cleared things up :)

[2020-08-10 20:42] jhendrixMSFT commented on #173
Fixed in v0.10.4

[2020-08-10 20:42] #173 closed

[2020-08-14 17:04] NadeemAfana opened #186 "panic: runtime error: invalid memory address or nil pointer dereference"
Not sure how to reproduce this one, but I am constantly seeing the following stack trace every few days:

[code]

[code]
Azure-Service-Bus-Go: **v0.10.0**

[2020-08-17 22:06] jhendrixMSFT commented on #186
I believe I have a fix for this.  If you're able to build using the changes in the PR it would be great to confirm it resolves your issue.

[2020-08-18 23:27] jhendrixMSFT commented on #186
Fixed in v0.10.5

[2020-08-18 23:27] #186 closed

[2020-09-02 13:11] Zenlil opened #189 "Long messages and "Servicebus Lock Duration" (go-amqp)"
(this is also registered in https://github.com/Azure/go-amqp/issues/12)

We are experiencing weird behaviour when messages take longer than half the lock-duration of the servicebus queue or topic.

Example:
Queue with a lock-duration of 30 seconds
All messages taking 20 seconds before Accept.

Expected behaviour:
All messages to be read and accepted by the servicebus

Actual behaviour:
1st message

[2020-09-16 22:03] ethanmcc opened #191 "Examples reference missing ensureQueue function"
Several examples reference calls to the function `ensureQueue` – where can this be found?

[2020-09-16 23:32] devigned commented on #191
https://github.com/Azure/azure-service-bus-go/blob/27d94af5a749d428c24874e589ca176a104e5da6/auto_forward_example_test.go#L81

[2020-09-17 03:43] ethanmcc commented on #191
thanks! it looks like my github searches missed the function declaration.

On Wed, Sep 16, 2020 at 7:33 PM David Justice <notifications@github.com>
wrote:

[2020-09-17 14:49] devigned commented on #191
Same with regard to the GH searches. The func is also in a weird place, so that adds to the pain of finding it.

It's too bad examples can't include multiple funcs.

[2020-09-17 14:49] #191 closed

[2020-10-12 21:44] NadeemAfana opened #193 "panic: runtime error: invalid memory address or nil pointer dereference"
Not sure how to reproduce this one, but I am seeing the following stack trace every few days:
[code]
[code]
Azure-Service-Bus-Go: **v0.10.6**

**NOTE**: This might be related to https://github.com/Azure/azure-service-bus-go/issues/186

[2020-10-12 21:45] #193 closed

[2020-10-22 20:06] ProfessorMc opened #194 "Websocket behind Proxy issue"
"golang.org/x/net/websocket" doesn't honor http_proxy, https_proxy, etc.  This means connections behind corporate proxy will fail.

"golang.org/x/net/websocket" documentation suggests that a richer feature set can be found in "nhooyr.io/websocket" or the gorilla implementation.

go version go1.15 windows/amd64
github.com/Azure/azure-service-bus-go v0.10.6

[2020-10-30 15:50] tessella-slackn opened #197 ""panic: runtime error: invalid memory address or nil pointer dereference" when context deadline exceeded"
I'm seeing the following error every now and then, straight after a "context deadline exceeded" error:

[code]

You can reproduce it by calling `Topic.Send` with a context with a very short deadline (using `Context.WithDeadline()`).

- azure-service-bus-go@v0.10.2
- go version go1.14.10 linux/amd64

[2020-11-10 14:30] TobiasSalzmann commented on #189
We're observing a similar issue. Even with less than slightly less than *0.5 lock duration.

[2020-11-18 01:12] 14leeyuchieh commented on #156
FYI, for anyone who find the unexpected modification of context affecting their deployable, consider passing a child context of the original context instead to Azure service bus. Then, when the child context exits, it won't affect the parent context. If the child context needs to cancel across several go routine, cancelling the parent context will ensure that. Using the example above,
[code]

[2020-11-19 06:50] uch71109 opened #198 "ScheduleAt function returns error "amqp: connection closed""
We are using `ScheduleAt` and `CancelScheduled` function to handle delayed messages, the behaviour is working at first, but for a while (maybe one hour or two hours later)  the `ScheduleAt` doesn't work and we get an error `amqp: connection closed`

It seems that it should try to reconnect to the server even if the connection is disconnected.

Could anyone please help this problem? Thanks.

SDK Ve

[2020-11-30 19:05] crussell52 commented on #167
Just checking in on the original topic of "Is this repo dead?"  Sorting issue activity by "recently updated" reveals this as the one with the most recent comments from members.

While I'm here, I'll mention #171 (info on end of preview) since the topics are related.

[2020-12-01 17:12] jhendrixMSFT commented on #167
While the repo isn't dead, the Go SDK team is a small team (two people) and to be frank service bus hasn't been our priority as we've been busy with other deliverables.

I will work with our management team to see how we can carve out a bit more time to follow up on issues here.

[2020-12-01 21:13] crussell52 commented on #167
thank you for your candid response -- gives me some context for making a product choice for our solution. 👍

[2020-12-02 16:34] jhendrixMSFT commented on #194
Fixed in v0.10.7

[2020-12-02 16:34] #194 closed

[2020-12-02 16:35] jhendrixMSFT commented on #197
Fixed in v0.10.7

[2020-12-02 16:35] #197 closed

[2020-12-09 11:21] vgtswork commented on #198
Similar behivor here. Initially (few weeks ago) the error was that ```amqp: connection closed``` but now after few hours (usually 2hrs) i get a different error:

```unhandled error link kkkkkkkk-xxxx-yyyy-zzzz-ae293207a893: status code 401 and description: Unauthorized access. 'Send' claim(s) are required to perform this operation. Resource: 'sb://mytesttenant-westeurope-sevicebus-namespace.servic

[2020-12-09 12:32] devigned commented on #198
Sounds like the token used to establish the connection may have expired, and was not refreshed.

When a SAS token is created, it is given a 2 hour expiry: https://github.com/Azure/azure-amqp-common-go/blob/6b7304f631077f049a7249a2f36fe87e5c27b674/sas/sas.go#L118

Might be a bug on connecting auth refreshing.

[2020-12-09 15:54] vgtswork commented on #198
@devigned i'm doing some testing in local and seems like this is not the problem. Obviusly, i just started to dig into the package so, for sure, i'm missing something, but my first try was to lower in my local ```azure-amqp-common-go/sas/sas.go``` token lifespan to 10 seconds, and everything seems to be fine.

Every 5 mins ```periodicallyRefreshAuth``` is called and ```sas.GetToken``` seems to wor

[2020-12-09 15:58] devigned commented on #198
Definitely a key differentiated feature of Service Bus. I'm sure determining a root cause and fix will be impactful to many.

[2020-12-10 12:42] devigned commented on #198
@jhendrixMSFT or @catalinaperalta any chance you could ping a contact in Service Bus and see if they can comment on the issue? This might be something happening on the service side.

[2020-12-10 12:47] vgtswork commented on #198
I made some small progress - im not sure about the 401 claim error but regarding the ```amqp: connection closed``` i made some tests.

I really don't know the root cause, but i think that after some time the ```rpcClient.client``` (```amqp.Client```) connection dies and the instance is not set to nil - this leads to some problems.

So, briefly, this happens:
* ```sendingEntity.ScheduleAt``` is cal

[2020-12-10 12:50] vgtswork commented on #198
small note on the above commet: update the SDK version to ```v0.10.7```

[2020-12-10 13:48] devigned commented on #198
@vgtswork, if I recall, there wasn't a good way to check if the connection had been closed. I think with a bit of work at the amqp client level that could be built.

As a stop gap, perhaps, try rebuilding the client if you run into an error here:
https://github.com/Azure/azure-service-bus-go/blob/705d23958eb9c000582c03ba30413dc7e35eb25d/entity.go#L225

The queue and topic sender will rebuild the c

[2020-12-10 13:57] vgtswork commented on #198
@devigned good point, that can explains why the classic "sender" works and the ScheduleAt fails :)

Hope i will have a chance to step back on this task today and do some testing with your suggestions, otherwise i will do some testing tomorrow and update you guys there

Thanks a lot!

[2020-12-14 21:55] xhl873 opened #200 "Sender returns error "the connection has been closed: Sender" after "context deadline exceeded""
We are seeing the sender closed error after a "context deadline exceeded" multiple times, usually it's working for a couple of hours, even for 1-2 day(s), then got a "context deadline exceeded" error. From the trace log, seems sender is closed after failed to recover from "context deadline exceeded", https://github.com/Azure/azure-service-bus-go/blob/705d23958eb9c000582c03ba30413dc7e35eb25d/sender

[2020-12-14 22:10] paulgmiller commented on #200
@serbrech might be interested in this as well.

[2020-12-15 22:37] xhl873 commented on #200
Currently, I am trying a workaround to reconstruct the client if see such errors, but ideally I think we only need to construct it once, and it should a long running client, which can recover from such failures. Plus another thing might worth mentioning is, in case of any amqp error, the error is not exposed https://github.com/Azure/azure-service-bus-go/blob/705d23958eb9c000582c03ba30413dc7e35eb25

[2020-12-21 08:13] gavinfish commented on #200
@xhl873 For the "context deadline exceeded" error, try to increase your context's timeout to help to expose the internal amqp errors.

For the retry logic:
- It is better to filter specific error types to retry, it does not make sense to retry when you provide an invalid msgid (> 128 chars)
- Retry total time is too long (more than 100s)
- I think is not necessary to close the sender here

[2020-12-21 18:06] xhl873 commented on #200
Thanks @gavinfish for helping! For #1 and #3,  I think it's good to differentiate the errors, if we do not retry on other error and don't close the sender, the next time we call "Send" (maybe for another msg), it will go through the trysend - recover (if any other error) again, right? For #2, just FYI, I actually noticed something wired from trace log, when I set the timeout to 30s, there were mor

[2021-01-05 15:44] SpaWn2KiLl commented on #198
I'm facing the same issue of receiving 401 - Unauthorized when calling ScheduleAt function after a few hours of my container being deployed.

Are you planning on changing the error handling for ScheduleAt just like Send does? It would be very helpful and so I don't need to put that logic into my application.

[2021-01-05 15:50] vgtswork commented on #198
@SpaWn2KiLl hope i will be able to push a quick workaround PR soon, unfortunately had no time during this month :( i made some quick tests in local using the rebuild logic and everything seems to work.

Hope i can step back to this task next week - meanwhile if maintainers have some official/better solution would be great! :)

I think it would be great to find the root cause of the problem, it cou

[2021-01-06 00:20] jhendrixMSFT commented on #198
@vgtswork do you have a simple repro program you could share?

[2021-01-12 12:13] eccles opened #203 "Service interruption causes panic"
Azure periodically  suffers from poor reliability with upstream service bus  returning errors.

When calling Recive() and these errors occur a panic() occur because of a nil pointer in the go-amqp package.:

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x94d42a]

goroutine 977 [running]:
github.com/Azure/go-amq

[2021-01-15 11:27] SpaWn2KiLl commented on #198
@vgtswork any news? It would be nice if you could share your progress :)

[2021-01-15 11:33] vgtswork commented on #198
@SpaWn2KiLl @jhendrixMSFT im so sorry to both of you guys for my delay on news/answers :(

unfortunately im right now very busy in some other tasks at work and had no chance to get back on this one. Hopefully i should very soon be able to step back and share what I've done. Consider that i had no time myself to deploy my fix proposal to my dev env, i just worked in local and made some quick assump

[2021-01-18 03:11] zihengCat commented on #156
Same problem in `github.com/Azure/azure-service-bus-go v0.10.7`.
Does anyone know the reasons?

[2021-01-21 22:42] wzamlynny opened #204 "Correlation filter rule with user properties returns error "xml: unsupported type: map[string]interface {}""
Creating a filter rule using a [correlation filter](https://github.com/Azure/azure-service-bus-go/blob/78c960db000c65f4e32d01371b496d5b33f59c38/filter.go#L25) on a subscription with custom user properties returns error:  `xml: unsupported type: map[string]interface {}` on [PutRule](https://github.com/Azure/azure-service-bus-go/blob/78c960db000c65f4e32d01371b496d5b33f59c38/subscription_manager.go#L

[2021-01-25 16:50] gerhardcit commented on #167
@jhendrixMSFT , is there anywhere else than service bus that you would suggest we look at? (In the Azure space)

[2021-01-26 07:47] XavierGeerinck commented on #155
If I may add @jhendrixMSFT  to this, this is a quite critical issue I would say... I am using Service Bus as well but it's close to impossible to use it in production with this bug there. My application stops working after ~11h due to this bug.

The message I am seeing:

[code]

[2021-01-26 08:06] bmnielsen commented on #155
We worked around this by having our lock renewal goroutine get a new connection to the queue / topic every time, which is tremendously inefficient but does work.

[2021-01-26 08:09] XavierGeerinck commented on #155
Thanks a lot for your input @bmnielsen !!! I might look into this, but wondering how I should tackle this since I am using this library through Dapr...

Seeing that I am using it through Dapr I guess this should be fixed here rather than through Dapr? (else introducing a bug more downstream rather than in the source?)

[2021-01-26 13:53] georgestevens99 commented on #155
IMO this bug should be fixed here in the go routine for the Service Bus only.  Getting a new connection periodically (even every time) is better than software that mysteriously breaks after running OK for a number of hours.

Also note that this problem with the Azure Service Bus may not be new.  Back in 2015 and 2016 myself and a few others were working intensely developing WCF services that used

[2021-01-26 17:51] jhendrixMSFT commented on #167
For an Azure service bus implementation?  I'm not aware of another implementation, however that doesn't mean one isn't out there (let me know if I misunderstood your question).

I'm hoping that in the coming weeks we'll have a bit more time to dedicate to SB (and event hubs).

[2021-01-28 16:00] jhendrixMSFT commented on #155
@catalinaperalta and I are investigating this, will update as we have more info.

[2021-01-28 18:02] jhendrixMSFT commented on #155
We've been digging into this.  One thing that stands out to us is that we ignore any errors encountered during auto-refresh of the SAS token.  https://github.com/Azure/azure-service-bus-go/blob/master/sender.go#L392

We do log it in the tracing though.  I don't suppose anybody has a trace log that would indicate this is failing?

[2021-01-28 18:07] XavierGeerinck commented on #155
Thanks for investigating! Sadly enough I do not have any tracing logs besides the ones provided above :)

[2021-01-28 18:13] jhendrixMSFT commented on #155
Possibly related https://github.com/Azure/azure-service-bus-go/issues/198

[2021-01-28 18:38] catalinaperalta commented on #155
Would anybody on this thread have repro code they could share with us?

[2021-01-28 18:48] XavierGeerinck commented on #155
I am utilizing this through Dapr (Microsoft) which is implementing this here: https://github.com/dapr/components-contrib/blob/master/pubsub/azure/servicebus/servicebus.go

The subscribe topic is highlighted here: https://github.com/dapr/components-contrib/blob/master/pubsub/azure/servicebus/servicebus.go#L264

Does this help?

[2021-01-28 18:53] catalinaperalta commented on #155
Taking a look, thanks for the info!

[2021-01-28 18:59] jhendrixMSFT commented on #198
I've been digging into this with @catalinaperalta, one thing that stands out to us is that SAS token refresh logic swallows any errors during refresh (they are logged but that's it).  Our best guess at this point is the refresh fails for some reason so the token is never updated on the service side and ends up expiring.

If anybody has tracing logs to confirm/deny this hypothesis that would be mos

[2021-01-28 22:55] jhendrixMSFT commented on #198
Also, due to clock skew and other "weirdness" of service bus, you can't have a SAS token with a lifespan of less than ~10 minutes.

[2021-01-29 10:17] vgtswork commented on #198
@jhendrixMSFT i had a chance to try in my dev env the workaround i was working on but unfortunately it's not working... i tried to rebuild the connection in ScheduleAt in a similar way Sender (sender.go https://github.com/Azure/azure-service-bus-go/blob/705d23958eb9c000582c03ba30413dc7e35eb25d/sender.go#L235-L266) is doing.
I was initially sure it was working but doing some better long run testing

[2021-01-29 15:52] jhendrixMSFT commented on #198
@vgtswork thanks for the update and the data point.  We'll keep digging.

[2021-02-05 05:04] serbrech commented on #189
Hi, sorry that your issue was left unanswered.

Question: Are you using Prefetch/LinkCredit functionality?

[2021-02-08 14:36] eccles commented on #155
I have this problem as well - any progress?

[2021-02-08 15:38] jhendrixMSFT commented on #155
We've been struggling with getting a repro on our side.  If anybody on this thread has a reasonably simple repro and/or can share any details about their SB environment (pricing tier) it would be a big help.

[2021-02-08 17:55] jhendrixMSFT commented on #198
One thing I just realized is that `ScheduleAt()` doesn't call `periodicallyRefreshAuth()`, so if you only call `ScheduleAt()` on the queue the credentials will expire after two hours.

[2021-02-08 19:28] vgtswork commented on #198
@jhendrixMSFT in my service i actually have just a listener and and reschedule messages using ```ScheduleAt()```, nothing more.

Am i wrong or the listener also calls ```periodicallyRefreshAuth()```?

[2021-02-08 19:32] jhendrixMSFT commented on #198
`ScheduleAt()` for sure doesn't call this.  There is a `rpcClient.periodicallyRefreshAuth()` but it's not actually called (I will fix this).

Are you calling any other APIs?  If so they might enable periodic refresh (sample/repro code would help).

[2021-02-08 23:14] jhendrixMSFT commented on #198
I have a change to consolidate the refresh logic which also ensures auto-refresh is enabled for all code-paths that require authentication.  I've tested it for the simple case and it's working but am testing further.  If anybody here can also test it out it would be much appreciated.

https://github.com/Azure/azure-service-bus-go/pull/205

[2021-02-09 04:08] serbrech commented on #189
I could reliably reproduce this behavior in an integration test.

From what I can see, Although one might set prefetch to 1 (which sets linkcredit to 1 in amqp terms), we end up sending a  `Flow` frame as soon as the message is **taken** by the handler.
If a message takes 20 seconds to be handled, the next message will sit on the receive channel, and the message lock is ticking. By the time the ha

[2021-02-09 04:29] serbrech commented on #189
@jhendrixMSFT is there anyone from the .net Servicebus SDK that could look at this issue and tell me what's the right behavior supposed to be?

[2021-02-09 06:09] serbrech commented on #189
I think I figured out what is going on, and the go-amqp library isn't the only one at fault.

I realized that, there was a point at which amqp would see a length of 1 in the message channel, and stop sending the Flow frame, waiting for the message to be consumed downstream.

`azure-service-bus-go` implements the `listenForMessages()` by looping on amqp.Receive() and pushing the incoming message on

[2021-02-09 06:12] serbrech commented on #189
My initial hunch is that the receive pipeline should not use any channel, and should stay synchronous all the way to the user handler

[2021-02-09 11:11] vgtswork commented on #198
@jhendrixMSFT in this particular service that fails after 2h i call only ```queue.NewReceiver(ctx)``` (```*servicebus.Queue``` type) and the ```Listen(ctx, handler)``` on that receiver.
Then inside the listener i only use message dispositions and ```ScheduleAt()``` to requeue a delayed message

[2021-02-09 14:18] devigned commented on #189
When using peek lock (second mode), I think the Flow frame should not be sent back until the inflight message has a disposition.

If the client waited to send flow back until the message disposition was received, then that should solve the issue, right?

[2021-02-09 17:13] jhendrixMSFT commented on #198
So the call to `queue.NewReceiver()` does start auto-refresh for auth.  Presumably your code looks something like this (excuse the terse error-handling).

[code]

Going back to the beginning, I think there are two distinct issues here.

The first error, `amqp: connection closed`, when calling `q.ScheduleAt()` as reported by @uch71109.  I suspect this is due to no recovery mechanism on the `rpcClie

[2021-02-09 21:35] jhendrixMSFT commented on #198
I'm testing out a recovery mechanism for `rpcClient` in https://github.com/Azure/azure-service-bus-go/pull/206

[2021-02-11 18:30] jhendrixMSFT commented on #167
I'm going to close this with the following statements.

- the repo isn't dead however we aren't investing in any new features at this time
- will keep an eye on PRs, please tag myself and @catalinaperalta when you open one
- crashes/hangs/data-loss type issues will be top priority as time permits
- we're a small team so things will likely move slow

[2021-02-11 18:30] #167 closed

[2021-02-13 18:05] jjcollinge commented on #155
@jhendrixMSFT I'm not sure how familiar you are with [Dapr](https://dapr.io/) but I am able to repro it using that - although it's a little hard to debug.

1. Spin up a kubernetes cluster
2. [Install dapr cli ](https://v1-rc2.docs.dapr.io/getting-started/install-dapr-cli/)
3. Deploy dapr to the kubernetes cluster using `dapr init -k`
4. Deploy an Azure Service Bus namespace.
5. Go the following [g

[2021-02-13 18:26] georgestevens99 commented on #155
Thanks for chasing that down.

If time permits, it would be revealing to run your tests above WITHOUT
Dapr, i.e. just using a standard Azure Topic Client to publish to a topic,
leaving all else the same as much as possible.

I believe that such a test will also surface the same (publish stops
working after a time) symptom, although with different error messages of
course.  This will indicate that

[2021-02-13 18:32] jjcollinge commented on #155
Thanks @georgestevens99 - I'll take a look next week if I can decouple it from Dapr. Although I have only seen this issue in relation to subscribers who are renewing locks whilst they process messages. Eventually the renewal starts failing with 401. I haven't seen the same on a publishing connection.

[2021-02-13 19:01] georgestevens99 commented on #155
Oops. I was mistaken.  I should have said receiving messages.  My
apologies.  Nevertheless, it may be telling to see what happens when
plain-old Service Bus topic receiving code is used in place of the Dapr
Pub/Sub code.  That could prove the problem is in the Service Bus message
receiving code and not in Dapr.  There was some indication of this in
related issues.

Thanks,
George

On Sat, Feb 13,

[2021-02-13 19:13] georgestevens99 commented on #155
Just to be clear, it would be useful to completely remove dapr and replace
it with the Service Bus libraries for both publish and receive, so as to
see if the receive exception happens without dapr being in the process.  I
am multi-multi tasking today so please pardon my rather disjointed input.
I just want to see if the root cause of this bug can be identified.
Thanks,
George

On Sat, Feb 13, 202

[2021-02-15 05:53] rahman74 opened #208 "Error When Receive Message From Topic (Subscription)"
`topic, err := ns.NewTopic(te.Name)
	sub, err := topic.NewSubscription(subscriptionName)
    fmt.Println("Error Subs =>",err)
	if err != nil {
		fmt.Println(err)
		return
	}
    var messageHandler servicebus.HandlerFunc = func(ctx context.Context, msg *servicebus.Message) error {
        fmt.Println(msg)

        return msg.Complete(ctx)
    }
	err = sub.Receive(ctx, messageHandler)
    fmt.Printl

[2021-02-15 13:39] attouab opened #209 "ListSessions crash"
This line is crashing

https://github.com/Azure/azure-service-bus-go/blob/f9ea40a809f9b8f8f8789dc679d2088cc3935be9/message_session.go#L131

The response is being accessed incorrectly. Under the debugger the response looks like this:

![image](https://user-images.githubusercontent.com/26739456/107952349-8f4c1080-6f91-11eb-957f-2b5d4b8a46d2.png)

[2021-02-15 14:11] attouab opened #210 "Incorrect ListSessions comment"
This comment is inaccurate
https://github.com/Azure/azure-service-bus-go/blob/f9ea40a809f9b8f8f8789dc679d2088cc3935be9/message_session.go#L100

Perhaps because the description for the AMQP  [com.microsoft:get-message-sessions](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-request-response#session-operations) operation is not very clear:

There are 2 session listing

[2021-02-15 23:56] serbrech commented on #208
ns.NewTopic is not creating a topic in azure. it's creating the go struct that refers to that topic
the topic needs to be present in Azure.
you can create it in the portal, or via the management apis in this library :

See [topic_manager.go](https://github.com/Azure/azure-service-bus-go/blob/master/topic_manager.go) and [subscription_manager.go](https://github.com/Azure/azure-service-bus-go/blob/m

[2021-02-15 23:59] serbrech commented on #176
Thanks for reporting this with pointers towards the implementation. Note that PRs are welcome ;)

[2021-02-16 00:06] rahman74 commented on #208
Hello, i check in azure portal, the topic already exist with name "purchase_order_events", i want to create a receiver message from the topic, and i got error in line sub.receiver(context,handler) "The message entity could not be found", maybe you have a solution for that?

[2021-02-16 00:32] devigned commented on #208
Is the Subscription also created? The error would make me think the Subscription wasn't created yet.

[2021-02-16 01:37] rahman74 commented on #208
Hello, i check in azure portal, azure service bus, and check the subcription, its created, this full message error
![image](https://user-images.githubusercontent.com/21357399/108008113-223c8780-7032-11eb-8f09-a7a77e684c78.png)

[2021-02-16 02:03] rahman74 commented on #208
This full code.

![image](https://user-images.githubusercontent.com/21357399/108009697-d095fc00-7035-11eb-8a3d-4dbac52ecf4b.png)

[2021-02-16 02:19] devigned commented on #208
‘SubscriptionName := “”’ seems wrong

[2021-02-16 02:29] rahman74 commented on #208
whats wrong? i trace/debug its correct variable
![image](https://user-images.githubusercontent.com/21357399/108011339-70a15480-7039-11eb-9490-97441263507b.png)

[2021-02-16 16:04] fhopfensperger commented on #177
Something has been changed, cancelling one or more scheduled messages now works!

Thank you!

[2021-02-16 16:04] #177 closed

[2021-02-17 01:57] #208 closed

[2021-02-17 15:24] catalinaperalta commented on #155
I agree with @georgestevens99, I've been trying to reproduce this with the service bus go code directly to see where the error could be on the SDK side.

[2021-02-17 17:18] jhendrixMSFT commented on #198
This should now be fixed in `v0.10.10`.  Thanks everybody for the help.

[2021-02-17 17:18] #198 closed

[2021-02-17 17:19] jhendrixMSFT commented on #155
Can you please try updating to `v0.10.10` to see if it resolves the issue?

[2021-02-17 17:42] jjcollinge commented on #155
@jhendrixMSFT I'll try `v0.10.10` with dapr and see if it helps. @catalinaperalta I'm running some tests now without dapr too - I'll let you know the results.

[2021-02-17 19:20] jjcollinge commented on #155
@catalinaperalta I've got a simple receiver program that does repro the issue outside of dapr here: https://gist.github.com/jjcollinge/1cea55ad78fe323040accd90aa02b49d#file-main-go
It may be that I'm misusing the SDK so if that's the case please let me know. There are a number of issues with this sample i.e. using a global array in a non thread safe way but it should be ok to demonstrate the issue

[2021-02-17 19:31] georgestevens99 commented on #155
Excellent news!  Thanks for going the extra mile to track this bug down.
George

On Wed, Feb 17, 2021 at 2:21 PM Joni Collinge <notifications@github.com>
wrote:

[2021-02-17 19:50] georgestevens99 commented on #155
Perhaps think about this when considering a fix outside the service bus
code itself:
1.  Does any message loss occur during the "Unauthorized Access" error?
2.  If not, can the reciever code just reconnect (i.e. create a new service
bus queue or topic client) and resume processing messages AND not risk ever
loosing messages.  And keep receiving until the next "Unauthorized Access"
error, and then

[2021-02-17 21:28] jhendrixMSFT commented on #155
Thanks for providing the repo.  The problem here is that in `v0.10.9`, if `Recover()` is called on a sender/receiver the auto-refreshing of auth isn't restarted, i.e. we don't call `periodicallyRefreshAuth()` after recovering the connection.  So at that point, the credentials are good for 2 hours, and if the connection isn't recovered again for whatever reason, they will expire.  This has been fix

[2021-02-17 21:28] #155 closed

[2021-02-17 21:30] jjcollinge commented on #155
Thanks @jhendrixMSFT - glad we have a root cause. I'll bump the version in Dapr and validate the fix tomorrow.

[2021-02-17 22:26] jhendrixMSFT commented on #203
There was a fix for this, see https://github.com/Azure/azure-service-bus-go/pull/187.  I don't know what version of this SDK you're using,  however the version of `go-amqp` in the above stack trace suggests that you don't have this fix (it first appeared in `v0.10.5` which drags in a newer version of `go-amqp` than what's listed here).  Given this, I'm going to close this issue.  If you get a repr

[2021-02-17 22:26] #203 closed

[2021-02-18 09:47] eccles commented on #203
I have just checked and we are using g-amqp 0.13.1 - however we only recently upgraded (29th Jan) all our MS versions (azure-service-bus went from 0.10.2 to 0.10.9).

So leave it closed - thanks for your attention...

[2021-02-18 22:55] serbrech commented on #156
a servicebus handler should never error out.

if you error out, it closes the connection.
all message handler share the same context unless you specifically pass a child context to your handler.
I suspect that because everything uses the same context, an error in one handler closes the connection and the context associated, impacting all other on-going message handling.

[2021-02-24 21:59] #189 closed

[2021-02-25 01:12] 14leeyuchieh commented on #156
Btw, there's actually 1 more case where my code did not work for. That is in the case of a network fault when the box loses internet access. I notice in that case, the servicebus client hangs indefinitely. I didn't get a chance to figure out why exactly, but closing the client and re-instantiating a new one fixed it for me.

I'll try to provide an example later if I have time, but otherwise just l

[2021-02-25 09:17] serbrech commented on #156
There are a couple PR that got merge about restoring connections, if you manage to get a reliable test, make sure to validate it with the latest version :)

[2021-02-25 16:23] Samridhigupta786 commented on #156
Is this Issue getting resolved? Its happening for service bus version v0.10.10, Every 2 hrs, we get context canceled error, leaving some of the process that is being on the message in "in-progress" state.

[2021-02-26 14:11] Samridhigupta786 commented on #155
Hey, I'm using azure service bus sdk for go (v0.10.10), and I getting context canceled issue in the Receive function after every two hours to be more specific it is 2hr 10 mins, you have pointed out the crendential is valid for 2 hrs, are we not refreshing the authentication cred?  There seems to be having some issue with recieve func, this is causing lot of trouble with renewing locks, processing

[2021-02-26 15:19] jhendrixMSFT commented on #155
@Samridhigupta786 can you please open a new issue to track this?  If you have any sample/repro code please include that as well.

[2021-02-26 15:49] Samridhigupta786 commented on #155
Well, there's already an open issue related to receive func() giving context canceled. Here is the [link](https://github.com/Azure/azure-service-bus-go/issues/156), I also opened an issue in [stackoverflow](https://stackoverflow.com/questions/66385235/servicebus-queue-receive-returns-context-canceled-frquently-around-every-2), the reason I mention this issue here because we were getting this 401 e

[2021-03-16 10:34] rokf opened #215 "Message.DeadLetter resulting in *Error(nil)"
Hello,

after a version lift of this package from `v0.10.10` to `v0.10.11` the `Message`'s `DeadLetter` method returns an `*Error(nil)` that isn't equal to `nil`. Previously it returned `nil` in the same scenario.

1. Was this planned or was this a side effect of some sort?
2. Is there perhaps a bug or are we supposed to do error handling differently in the code that is using the new version of th

[2021-03-22 15:54] jhendrixMSFT commented on #132
This has been fixed.

[2021-03-22 15:54] #132 closed

[2021-03-25 13:30] rafalrygas opened #216 "Running queue.Receive method second time leads to freeze receiver and do not process messages"
### Bug Report

Version: v0.10.11

**What happened?**

Handler method returns an error, so `queue.Receive(ctx, handler)` method stops and also returns an error which is expected behaviour.
However, running `queue.Receive(ctx, handler)` again will lead to freeze receiver and not process any message. With version v.0.10.9 it worked correctly.

**What did you expect or want to happen?**

Processing m

[2021-03-31 23:42] serbrech commented on #216
Do you have a single message in the queue in this example?

Here, you are not doing any message disposition in the handler, so the message is still locked on the server side by your previous receive.
Erroring out of a handler closes the listener. Failing to consume a message should not return an error. it should take a message disposition (Abandon() likely) and return nil.

There were bugs in go-a

[2021-04-01 00:15] serbrech commented on #215
The code you point here : https://github.com/Azure/go-amqp/blob/v0.13.6/types.go#L1590 is the String() implementation that gets included in the reason property of the deadletter. so, not the error that is actually returned from calling Deadletter().
Do you mean that you actually get an error back from the Deadletter func or that you see this string in the property on the reason for deadlettering?

[2021-04-06 08:50] rafalrygas opened #217 "Changing settings of queue freezes receiver without returning any error"
### Bug Report

Version: v0.10.11

**What happened?**

Messages are received and processed successfully. After changing settings of queue (e.g. Max delivery count) receiving messages is frozen without returning any error

**What did you expect or want to happen?**

Receive message correctly after changing settings of queue or return an error.

**How can we reproduce it?**

[code]

[2021-04-06 08:55] rafalrygas commented on #216
Thank you serbrech.
You are right, with this new version of lib adding abandon message to handler resolved problem.

[2021-04-06 08:55] #216 closed

[2021-04-06 19:27] serbrech commented on #217
Hi, thanks for reporting this

How are you changing the settings? In the portal?

[2021-04-07 08:18] rafalrygas commented on #217
Yes, I change it in Azure Portal (e.g. Max delivery count in overview bookmark)

[2021-04-07 21:54] orzel7 opened #218 "amqpMessage.Ignore() is not accessible from servicebus.Message"
After introducing this change: [https://github.com/Azure/go-amqp/commit/825d6e69a40dff9f19d93eb59a3d896aebd89115](url) , it is possible to explicitely control the amqp message pump. It would be very useful to add servicebus.Message.Ignore() method to make it possible ignore message without blocking message pump.

[2021-04-15 22:03] jhendrixMSFT opened #220 "Use exponential back-off when being throttled"
At present we attempt to Recover() the connection which isn't very useful.  Instead, we should use an exponential back-off algorithm before retrying the request.  If the retries are exhausted, return the underlying error so that callers can accurately test for being throttled.

[2021-04-16 23:01] orzel7 opened #221 "Message.Complete() hangs under certain conditions"
I prepared simple example which explains problem:
[code]
In this code, if "processing time", emulated by Sleep() takes longer than 10 minutes, the subsequent call m.Complete() hangs.

[2021-04-19 04:10] serbrech commented on #221
Before our fixes to the flow control, messages were fetched before getting to your handler.
Calls to complete with a lock expired were failing silently.
The message was not completed, but you would not know about it. it was instead being re-delivered, since you lost the lock.

Complete should never hang. that so that is a bug.

I think that the connection is lost, and disposition calls do not try

[2021-04-19 08:43] orzel7 commented on #221
Exactly, it looks like Azure closes connection after 10 min of inactivity. For example, Qpid Proton issues heartbeats and connection always active.

[2021-04-19 14:20] jhendrixMSFT commented on #221
@serbrech yes I agree.  The current method is very inefficient and inappropriate in some cases (e.g. we attempt to Recover() when being throttled which doesn't make sense).  Fixing it in go-amqp means all the operations get it "for free" and we can remove the recovering code.

[2021-04-22 19:51] serbrech commented on #221
@jhendrixMSFT for reference about timeout strictness in go-amqp: https://github.com/Azure/go-amqp/issues/16

Although, before diving in the strictness, it would be best to just verify that the heartbeat does go out at all during idle time.

[2021-04-23 07:28] cjlapao opened #222 "PUT does not update entities"
When using the Topic/Subscription/Queue Managers PUT, it does not create/update the entity. it does however creates it.

On the subscription, you will get a 409 stating that the entity already exists

[2021-04-29 12:56] mon7792 opened #223 "Sending message to the queue receive EOF error"
**Background.**
We have a long running service listening on the queue.
The service process message arriving in the queue.
As part of processing,
The services can send new message(message count: 1 to 1000) to a new queue.

**Issue**
The service works fine most of the time.
In one case while sending of the newly generated message we got `EOF` error.

**question**
can any one help with understanding

[2021-04-30 15:16] rokf commented on #156
@14leeyuchieh hey, we're having the same issue on a project at work and I have a few questions.

With "the same issue" I mean these `context.Canceled` errors after two hours and few minutes (usually 5-10) and that the client sometimes receiving/processing new messages after a while.

1. **Will `Queue.Receive` with a new `context.Context` really continue to process messages after it fails with a `c

[2021-04-30 20:20] rokf commented on #215
Here's an example. The output/behaviour is different between `v0.10.10` and `v0.10.11`.

`v0.10.11` produces:

[code]

while `v0.10.10` produces:

[code]

[code]

[2021-05-04 12:54] zedar commented on #221
There is a missing `associated-link-name` property in `renewRequestMsg`.  This attribute is necessary in order to keep receiver link alive. Without it link is closed after the 10min idle timeout.
The following code in rpc.go
[code]

should include the `associated-link-name` property:

[code]

The `linkName` can be extracted from one of the messages. The following function can be added to the `mess

[2021-05-05 12:27] lohmanndouglas commented on #156
@rokf, I am having the same problems in both versions v0.10.10 and v0.10.11

1. I could not make it work like in the examples above, just restart the receive with new context did not work for me. Now I am trying to get the queue again but not restarting the namespace. If I need to restart the namespace it would be a mess in my application :(.

This issue is impacting my work and I am stuck on it.

[2021-05-06 12:01] rokf opened #224 "Side effects of not closing Queue and DeadLetter"
**Are there any possible side effects of not calling `Close` on `Queue` and `DeadLetter` instances before they're discarded and replaced by new instances when even the `Namespace` instance is discarded and replaced?** Does this package perhaps keep some kind of implicit global state in the background that would require the `Close` calls to keep a clean state?

[2021-05-06 21:29] jhendrixMSFT opened #226 "Ensure associated-link-name is properly set"
https://github.com/Azure/azure-service-bus-go/pull/225 fixed this in one place, but it's required in others.

See https://github.com/Azure/azure-sdk-for-net/search?q=AssociatedLinkName for an example

[2021-05-14 00:39] princjef opened #227 "Vulnerability in nhooyr.io/websocket"
There is a vulnerability in the current version of nhooyr.io/websocket that is used by this package (1.8.6), which can potentially cause a DoS vulnerability. It's admittedly a low risk problem here in practice, but updating to 1.8.7+ makes the automated security scanning tools happy.

Here are the details for the CVE: https://snyk.io/vuln/SNYK-GOLANG-NHOOYRIOWEBSOCKET-1244972

[2021-05-14 18:24] rovangju opened #228 "ParsedConnectionFromStr provides no way to use WebSocket (non-AMQPS)"
Currently the method at https://github.com/Azure/azure-amqp-common-go/blob/master/conn/conn.go#L65  seems to discard any prefix in the hostname and push `amqps://` in front of the connection string.

This seems to create some issues for abstractions on the client that want to lean on the parser to figure out the connection (e.g.:
https://github.com/dapr/components-contrib/blob/efd198026fa81dbb93af

[2021-05-16 22:47] serbrech commented on #221
Still surprised by this.
at the amqp level, there is a conn level heartbeat that prevents the link to drop. this is distinct from the messaging path.
it happens whether you send messages or not, and whether you renew the lock or not.
The renew lock is a Service bus level functionality. not a amqp level functionality.
so why is this improving the connection keepalive?

[2021-05-16 22:58] serbrech commented on #221
for listeners, here is the code that takes care of the heartbeat sent by remote peer :

https://github.com/Azure/go-amqp/blob/51f7e70071303e8e3e3e867fc068dedeb2f31e44/conn.go#L464-L467

every time the link receives a frame, it resets the socket read deadline to a timeout equal to the deadline.

on the publisher side, a heartbeat is being sent on a timer basis. it's sent at [peer's idle timeout / 2

[2021-05-20 20:46] MattJeanes opened #229 "Blank error returned when using a key without Manage permission with SubscriptionManager.Get"
Azure Service Bus Go version: `v0.10.12` (latest at time of writing)
Go version: `go version go1.15.6 linux/amd64`

As in the title, currently a blank error is returned when the call to `SubscriptionManager.Get` internally receives a 401 code (`401 SubCode=40104: Invalid authorization token audience`)

In my scenario, this was caused by using a service bus connection string without Manage permissi

[2021-05-21 08:19] rokf commented on #156
Here's an interesting observation with `v0.10.10` (I haven't tested this with other versions). Let's say that there are 4 queue receivers in an executable. All the queues  reside in a single namespace on Azure Service Bus - all `Namespace` instances use the same connection string.

If they use a common `Namespace` instance then the `Receive` call fails with the `context canceled` error (almost) ev

[2021-05-28 09:40] ghost opened #230 "Package allows sending messages that cannot be deadlettered - not utf-8"
Results of a game day where we tried to break our system by sending randomly generated garbage on our  servicebus queues revealed that when our code correctly tried to deadletter a message that could not be unmarshaled an error occurred which resulted in a service that could not restart. It restatrted but could not deadletter so was permanently broken.

Whilst this was interesting and fixed by com

[2021-05-30 11:00] marcinbudny opened #231 "Unable to list more than 100 topics"
Hi, I have trouble listing all the topics in my SB namespace.

Azure Service Bus Go version: v0.10.12

When the namespace contains more than 100 topics, `func (*TopicManager) List` returns only first 100 of them. There is no way to increase the page size or get subsequent pages. I think the same problem occurs for queues and subscriptions.

Sample repro:

[code]

Outputs:
[code]

[2021-06-25 21:46] Diastro opened #233 "Change in behavior when using ReceiveOne() and Abandon()"
With the latest patch, it looks like the behavior of  ReceiveOne() and Abandon has changed. I think the correct behavior is happening now but sharing as FYI.
If you look at the code below (it isn't perfect but does the job for debugging), prior to the patch, A1 would be received first, then abandonned, then A0 would be received and finally A1 would be received.

With the latest version of the sdk,

[2021-06-27 09:10] serbrech commented on #233
Thanks for sharing, will have to think a bit about this one. I think that makes sense for receiveOne, I don't think that would be the right behavior for just "Receive".

[2021-07-13 21:41] #231 closed

[2021-07-13 21:57] richardpark-msft commented on #231
Hi @marcinbudny, sorry it took so long to fix this. I added in the ability to specify a page (and a count) via optional `skip` and `top` parameters. Look at the changes around `List()` to specify them.

Release: https://github.com/Azure/azure-service-bus-go/releases/tag/v0.10.14

[2021-07-19 07:19] dnwick opened #236 "Is the retry connection to topic subscription handled in the library ?"
Sample code to read messages from subscription,

[code]
Trying to shutdown the internet and reconnect to see whether messages will resume consuming.

Behaviour : If I reconnect within two seconds then consuming resumes. But if the network is down for more than that, following errors received in different occasions,

Test 1
$ go run consumer.go
Hello, World Again!0
Hello, World Again!1
Hello, World

[2021-07-20 05:33] serbrech opened #237 "network error not recovered by servicebus"
Running in prod, we have identified a few errors that a sender will not recover from.
Once these errors are returned during by a sender operation, it means that the underlying TCP connection is dead and the only way to recover is to recreate the sender.

- syscall.ETIMEDOUT (covered by neterr.Timeout())
- io.EOF
- amqp error with Condition: amqp:internal-error, Description: The service was unable

[2021-07-20 19:22] serbrech commented on #236
See :

https://github.com/Azure/azure-service-bus-go/issues/237

[2021-07-20 19:41] serbrech commented on #223
Correct. See : https://github.com/Azure/azure-service-bus-go/issues/237

[2021-07-21 00:34] richardpark-msft commented on #237
This looks sensible to me. We actually have code similar to this in Event Hubs now as well that handles the recovery in addition to the error classification:

* [sender recovery](https://github.com/Azure/azure-event-hubs-go/blob/f16940d69e3254aecd0781ac5ec174eb0dc376d4/sender.go#L287)
* [error classification](https://github.com/Azure/azure-event-hubs-go/blob/f16940d69e3254aecd0781ac5ec174eb0dc376d

[2021-07-21 05:39] richardpark-msft commented on #230
I took a look at this and I don't think I'm able to reproduce this (although there is a separate issue that seems relevant).

Here's my code:

[code]

This code does properly dead letter the message. I'm not able to get the same bug you see above.

Can you give me a sample of your code (sanitized) that reproduces this issue for you?

(side note: I did discover a separate error - the call above wil

[2021-07-21 06:42] dnwick commented on #236
Thanks for this I will look through it. One thing I note when I go through go-shuttle code is that it uses n Listen[1] function to receive messages from the corresponding subscription. In my code above I used Receive[2] function. Is there a difference of using either ? And what to use when ? So basically Azure sdk is not handling retry I guess

[1]https://pkg.go.dev/github.com/Azure/azure-service-

[2021-07-21 09:33] serbrech commented on #237
Here is a retry internally for normal send failure.
So if it gets to my reconnection logic, I just retry once and failed.
Keeping it simple.

[2021-07-27 18:28] Nighthawk22 opened #239 "Goroutine leak on RenewLock"
In our project wer are experiencing a goroutine increase on every RenewLock call.

Therefore I added  the uber goleak test to the `testQueueSendAndReceiveWithRenewLock` which lead to the following output:

<details>
  <summary>Testoutput. Click to expand!</summary>

[code]

</details>

Sadly I could not pinpoint it to the actual leak. Help is appreciated

[2021-07-29 10:11] Nighthawk22 commented on #239
As it seems we ran into the side effect of not closing queues correctly in certain circumstances (https://github.com/Azure/azure-service-bus-go/issues/224) and I overlooked  that the testcase created the queue outside.

[2021-07-29 10:11] #239 closed

[2021-08-02 04:34] sachithKay opened #240 "Mechanism to check the existence of a topic subscription"
I need to check if a subscription already exists by a given name and if not, create a new subscription. Currently im checking the error as shown below to check this as shown below.

Is there a better/straightforward way to do this? (List and filter is also an option)

[code]

[2021-08-04 16:10] 3mard opened #241 "Cannot receive a deferred message using the go client, while it's possible receive it using the nodejs client"
Hi
Thanks for your hard work!

We are facing an issue in which we cannot receive the deferred message using the go client
We get the following error :
`server error link 5e7768a7-4b8c-4516-8c0c-e3214e50c273: status code 500 and description: Messages not found. One or more sequence numbers missing. TrackingId:abfb3c60-ff65-4146-bc1e-426c52aa51ce_B46, SystemTracker:uat-onservicebus:Topic:<topic_name

[2021-08-04 18:26] richardpark-msft commented on #236
The big difference between those particular functions is that `Subscription.Receive` will block, whereas `Receiver.Listen` will not.

In fact, Subscription.Receive is built on top of Receiver.Listen:

[code]

`Receiver.Listen` allows you to avoid blocking but they practically identical otherwise. If you have no issues with the blocking behavior of `Subscription` then it's a good choice since it ha

[2021-08-04 20:45] richardpark-msft commented on #241
Hi @3mard, I'll take a look at that.

[2021-08-05 02:08] dnwick commented on #236
@richardpark-msft Thanks for the reply. Basically in our use case we need the client to ack on every message that received. And only in the description of func (*Subscription) Receive says " Handler must call a disposition action such as Complete, Abandon, Deadletter on the message " Question is how this client acknowledgement handled ? As you mentioned whether using the blocking behaviour provide

[2021-08-05 11:29] serbrech commented on #236
Calling msg.Complete() is the ack.
It's sending an Accept message disposition to the broker.
Is that what you mean by "we need the client to ack?"

[2021-08-05 11:41] dnwick commented on #236
@serbrech Thanks Yes that is what I wanted to verify.
Also May I know little bit of information on blocking and non blocking like what does it really mean ? Because both Receive and Listen does this  msg.Complete() for each message as I used in my client code. So if you can please explain little bit in depth about in non-blocking what exactly happens

[2021-08-05 19:29] serbrech commented on #236
Receive will wait for. We messages and pass them to your handler. It will not get out of the Receive func unless you cancel the context.

Listen will return you a message and is done.

[2021-08-05 21:32] richardpark-msft commented on #241
I'll update and release once I this PR is merged in go-amqp:  https://github.com/Azure/go-amqp/pull/43

Details for others (and for @jhendrixMSFT):

The bug was actually in the way that go-amqp was encoding arrayInt64. go-amqp has a nice facility where it will downsize types if they can fit within the range of a smaller type, which can save on bytes going over the wire. The sequence numbers we pas

[2021-08-06 04:12] dnwick commented on #236
see below the listen function ,

[code]
Are you saying even though the queue has multiple messages this will only run once and just print one message and exit ? As I have seen it will print all the messages and will keep on listening as well, It will come out of this iff en error occurs . May be I have misunderstood your statement " Listen will return you a message and is done "

[2021-08-06 10:49] dnwick commented on #236
I have done more tests and I could see what you meant by blocking call. Thanks.

[2021-08-09 18:53] richardpark-msft commented on #241
Hi @3mard,

This fix has now been released as part of https://github.com/Azure/azure-service-bus-go/releases/tag/v0.10.15.

[2021-08-09 18:53] #241 closed

[2021-08-09 19:03] 3mard commented on #241
Thanks @richardpark-msft

I just tested it ,it works

[2021-08-18 13:44] orzel7 opened #246 "ServiceBusQueue.RenewLocks() fails spontaneously"
ServiceBusQueue.RenewLocks() sometimes fails with error:

`*Error{Condition: amqp:connection:forced, Description: The connection was inactive for more than the allowed 300000 milliseconds and is closed by container 'LinkTracker'. TrackingId:2c567f5508764c7fbb0f2be74ca7e526_G34, SystemTracker:gateway7, Timestamp:2021-08-18T12:32:45, Info: map[]}`

Message Lock duration is set to 1 min
RenewLocks is

[2021-08-18 14:52] orzel7 commented on #246
It looks RenewLocks() fails always after about 1 hour from creating queue. At the same time, it is still possible to receive messages from queue without errors.

[2021-08-21 10:05] serbrech commented on #246
Thanks for filing an issue.
A bug fix was merged very recently to fix a bug that would stop to refresh the claim for the RPC client when getting an error. this is used for renewlocks.
If you are able to reliably reproduce, could you try with the latest tagged release, and let me know if this still occurs?
Thanks!

[2021-08-21 18:06] orzel7 commented on #246
Did you mean #245? The first thing i did after discovering the problem is update to version 0.10.16, but bug is still there. Currently i'am using REST API call if RenewLocks fails to workaround problem.

[2021-08-23 06:21] serbrech opened #247 "entityreceiver.RenewLocks mutex makes concurrent message lock renewal very slow"
https://github.com/Azure/azure-service-bus-go/blob/47f464057d3e1f3bcbbdf59f52aca31bbae037b0/entity.go#L195-L196

This came as a suprise. my renewlocks routine was using the receiving entity as the gateway to call RenewLocks.
Each message handled would start the goroutine and pass the subscription to renew the locks on that message.
This lock made each RenewLocks call block the other messages handl

[2021-08-24 23:42] serbrech commented on #246
@orzel7 Hi, we investigated further the Renewlocks code and we'll be pushing some changes that will probably fix the issues you are seeing.
I've been experiencing it sporadically as well.
/cc @richardpark-msft

[2021-08-24 23:44] serbrech commented on #226
Is this still active, or is there still more places to set it?
could we create a definitive list of where this needs to be done in servicebus, so that it's easy to track/fix?

[2021-09-03 16:36] orzel7 opened #249 "Message.Complete() fails if time elapsed since receipt more than 2h"
This code fails at `m.Complete(ctx)` if "processing" time took 2h30m with error:
`*Error{Condition: amqp:connection:forced, Description: The connection was inactive for more than the allowed 300000 milliseconds and is closed by container 'LinkTracker'. TrackingId:5220ced3241b41aa899db806978be5cc_G12, SystemTracker:gateway7, Timestamp:2021-09-03T08:46:10, Info: map[]}`

But this code works fine if

[2021-09-04 01:18] richardpark-msft commented on #247
This should now be resolved as of [`v0.11.1`](https://github.com/Azure/azure-service-bus-go/releases/tag/v0.11.1)

[2021-09-04 01:18] #247 closed

[2021-09-04 15:23] ivarec opened #251 "Where is the code to periodically refresh the auth token?"
I think I'm being affected by this old issue: #116. The symptoms and the error messages are exactly the same.

After digging up a little, I found the PR that was supposed to have fixed this back in 2019: https://github.com/Azure/azure-service-bus-go/pull/137

However, I can't find this PR's code anywhere in master. Am I missing something?

Thanks in advance!

[2021-09-06 11:33] orzel7 commented on #249
It looks, the root of the problem is queue.RenewLocks(ctx, m) failing after 2h 5min.
So, if m.Complete is called between 2h5m and 2h10m(2h5m + 300000ms), it returns `The lock supplied is invalid. Either the lock expired, or the message has already been removed from the queue.`
If sleeping time is between 2h10m and 2h15m, the error is `The connection was inactive for more than the allowed 300000 mi

[2021-09-07 20:33] #240 closed

[2021-09-07 20:39] sachithKay opened #252 "Support for Auto Renewal of Message Lock"
I see that message locking mechanism has been introduced with https://github.com/Azure/azure-service-bus-go/pull/35.
However, it seems this requires adding routines to keep track of messages/locks.

Is an auto-renewal mechanism in the works similar to https://docs.microsoft.com/en-us/python/api/azure-servicebus/azure.servicebus.autolockrenewer?view=azure-python ? This idea has been discussed in th

[2021-09-08 01:22] serbrech commented on #251
https://github.com/Azure/azure-service-bus-go/blob/0f63768a95d50685ff742184c6b3865ddbf2155b/receiver.go#L382
the negotiateClaim starts a goroutine in the background that refreshes the claim using the auth token.

Here is the code :
https://github.com/Azure/azure-service-bus-go/blob/0f63768a95d50685ff742184c6b3865ddbf2155b/namespace.go#L257

Note that there was a recent fix to retry on failure:
htt

[2021-09-08 01:31] serbrech commented on #246
@orzel7 v0.11.1 includes the RPC link changes that should improve (hopefuly remove) the RenewLocks issues that you were experiencing

[2021-09-08 07:57] orzel7 commented on #246
Problem still exists on version 11.1

[2021-09-08 17:56] richardpark-msft commented on #252
Unfortunately this doesn't exist, at the moment, in the azure-service-bus-go SDK.

(closing for now - I'll ping back here if there's additional news on that front)

[2021-09-08 17:56] #252 closed

[2021-09-09 21:58] serbrech commented on #246
it's hard to tell what's going on if we can't repro.
the link used to call renewLock is separate from the link created to receive messages, how often do you renew the locks?
it could be that the RPC link that call renewlocks is closed due to inactivity and that we don't reopen it?
if that's the case, we should be able to make it fail after just 300s, as the error message mentions.

we need more in

[2021-09-09 22:10] serbrech commented on #249
I might be wrong but in your code, I think that if the renewlocks call fails just once, you exit the routine silently.
so you would stop renewling the lock?

the Complete sends a disposition on the receiver link.
that link is idle because you only receive 1 message and do nothing else. I think that would fail too after  just > 10min?

[2021-09-09 22:11] serbrech commented on #249
@jhendrixMSFT @richardpark-msft I think that's the same case I mentioned, about link heartbeat?

[2021-09-10 06:24] orzel7 commented on #249
Right

Exactly

[2021-09-10 10:12] orzel7 commented on #246
Ok, maybe this is another problem, duplication of #249
RenewLocks fails after 2h5min with error:
`unhandled error link 4fbaa5b1-deeb-4e9b-99b1-83d263e22364: status code 401 and description: Unauthorized access. 'Listen' claim(s) are required to perform this operation. Resource: 'sb://......./$management'. TrackingId:15d8b442-221c-4c79-a33c-7d66e737628e_G16, SystemTracker:NoSystemTracker, Timestamp

[2021-09-10 11:26] orzel7 commented on #246
I've found the way, how to reproduce this problem quicker. Just change this function(file sas.go from azure-amqp-common.go)
[code]
to
[code]
After this change, RenewLocks will fail after about 25 minutes. It is obvious for me that token for RPC channel is not refreshed properly.

[2021-09-10 13:07] orzel7 commented on #246
It comes out of my observations:

1. Token refreshing mechanism works properly(every 15 min)
2. New token generated properly
3. Newly generated token does not take effect . Probably, Service Bus caches tokens  until expiration time.  Maybe link/connection should be recreated in order to reset previous valid token.

[2021-09-10 17:23] orzel7 commented on #249
If i increase token validity time from 2(default value) to 3 hours, this example works without error.

[2021-09-15 09:22] orzel7 commented on #221
I can reproduce this old issue again using test program from #249. Something has changed on Azure side and now m.Complete(ctx) hangs instead of returning an error.

[2021-09-15 10:16] orzel7 commented on #221
Callstack:
[code]

[2021-09-15 19:44] orzel7 opened #253 "Auth token is not refreshed for $management path"
From logs i can see that NegotiateClaim function was called only once for management queue. As a result, any functionality based on management queue fails after token expiration time(2 hours).

[2021-09-23 07:37] orzel7 opened #255 "API call returns weird error"
Sometimes receiver.ReceiveOne(...) function returns error: `link detached, reason: *Error(nil)`

[2021-09-23 09:03] orzel7 commented on #255
Sorry, the problem was caused by old version of amqp indirectly referenced by old version of event-hubs.

[2021-09-23 09:03] #255 closed

[2021-09-27 05:24] serbrech opened #256 "github.com/gin-gonic/gin dependency security warning"
1 github.com/gin-gonic/gin vulnerability found in go.sum 3 days ago
Remediation
Upgrade github.com/gin-gonic/gin to version 1.7.0 or later. For example:

`require github.com/gin-gonic/gin v1.7.0`
Always verify the validity and compatibility of suggestions with your codebase.

Details
[code]

go mod why github.com/gin-gonic/gin :
[code]

[2021-09-27 05:26] serbrech commented on #256
https://github.com/nhooyr/websocket/issues/297

[2021-10-19 22:12] fasmat opened #259 "Data races in subscription.NewReceiver and subscription.Receive"
Hi,

I've been experimenting with azure-service-bus-go and stumbled upon a data race where I'm not sure if it's my code that is causing the issue or if there is a bug in azure-service-bus-go. I reduced my code to a simple test case:

[code]

If I run this code with ``go test`` it passes without errors. If I run it with ``go test -race`` I get a race condition in ``subscription.NewReceiver``. I tri

[2021-10-22 15:30] afunix opened #260 "nhooyr.io/websocket dependency should be updated to fix DOS vulnerability"
nhooyr.io/websocket dependency is locked on version 1.8.6.
About half a year 1.8.7 has been released with vulnerability fix: https://github.com/nhooyr/websocket/releases/tag/v1.8.7
Please update the dependency.

[2021-10-25 08:32] jjcollinge opened #261 "How should I be using the subscription session clients?"
I'm trying to evaluate enabling support for ASB sessions in the [Dapr Azure Service Bus PubSub provider](https://github.com/Azure/azure-sdk-for-net/blob/a6fe61c1e67f99b53f1fb32e479ef83747031bfc/sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs) but I'm struggling to work out whether or not this is actually possible with this SDK.
Firstly to set expectations, the integr

[2021-10-26 06:48] #261 closed, assigned to nobody

[2021-10-26 20:57] Lknechtli opened #262 "servicebus.Message receivers are orphaned when calling servicebus.Receiver.Recover()"
When servicebus.Receiver.Recover() is called;
* The servicebus.Receiver.Closed state is set to false and never set back to true if the Receiver successfully recovers.
* Messages received on handler function using the servicebus.Receiver contain a reference to the original amqp.Receiver, rather than the servicebus.Receiver. This means that recovering the Receiver does not update the session / links

[2021-11-12 22:40] halspang opened #264 "Issues Updating to Recent Releases"
Howdy all. Recently, the team working on [dapr](github.com/dapr/dapr) tried to update the various sdk/library packages associated with Azure ServiceBus in golang.

When we did this, we ran into frequent link detached errors. These would occur consistently at exactly 1 hour from initialization and reconnection was not possible. The only solution we had was to revert our upgrades, which isn't ideal.

[2021-11-15 21:44] richardpark-msft commented on #170
Hi @Diastro,

Development of this library has moved into the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus)

I have an issue tracking this same feature, however, which will be added:
https://github.com/Azure/azure-sdk-for-go/issues/16045

[2021-11-15 21:44] #170 closed

[2021-11-15 21:45] richardpark-msft commented on #215
This has been fixed (it involved an underlying issue in go-amqp), so the latest release (0.11.3) will work.

Note that development for this library has now moved to the azure-sdk-for-go [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

[2021-11-15 21:45] #215 closed

[2021-11-15 21:48] richardpark-msft commented on #161
Hi @davidkuridza,

Development of this package has moved to the azure-sdk-for-go [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

This particular design issue was something we addressed in the new API for the Receiver. Receiver's are now no longer different when you open a dead letter queue vs just a queue.

* [Creating a receiver for a non-dead letter queue

[2021-11-15 21:48] #161 closed

[2021-11-15 21:56] richardpark-msft commented on #223
Hi @mon7792, development for this library has moved over to the the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

I've created an issue ([link](https://github.com/Azure/azure-sdk-for-go/issues/16164)) to track this - we do automatic recovery internally for receiver links and we will want to do the same for sending.

[2021-11-15 21:56] #223 closed

[2021-11-15 22:00] richardpark-msft commented on #88
Hi all, development for the Service Bus package has been moved to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

This particular issue doesn't exist in the current API surface anymore, as we've removed the callback API surface and replaced it with a pull-based mechanism (still using AMQP).

An example of this is here: [link](https

[2021-11-15 22:00] #88 closed

[2021-11-15 22:03] richardpark-msft commented on #262
Hi @Lknechtli,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

The bug you mentioned has been fixed there by allowing a fallback to the management link if the original link has been closed (like you mention, if we recover internally).

[2021-11-15 22:03] #262 closed

[2021-11-15 23:53] richardpark-msft commented on #224
Hi @rokf,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

To your question, the in the new `azservicebus` package closing the top level entity (in our case the `Client`) will shut down the AMQP connection and any other related links, including claim negotation, etc...

[2021-11-15 23:53] #224 closed

[2021-11-15 23:57] richardpark-msft commented on #222
Hi @cjlapao,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

In the new `azservicebus` package we've split creation and update operations into two separate functions, which make this operation unambiguous.

* An example of CreateQueue: [link](https://github.com/Azure/azure-sdk-for-go/blob

[2021-11-15 23:57] #222 closed

[2021-11-16 00:07] richardpark-msft commented on #246
Hi @orzel7,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

I've run this test against the new Service Bus library and can't replicate it but we've done some changes in the internals that have probably helped in this regard.

1. We no longer use separate connections for each link. This pr

[2021-11-16 00:07] #246 closed

[2021-11-16 00:14] richardpark-msft commented on #249
Hi @orzel7,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus). (I know you now know this since I've posted it to a few of your issues).

I have a test that's similar to this that I'll enhance, but it does seem like the root cause is related to when we lose the lock, which seems to be related

[2021-11-16 00:14] #249 closed

[2021-11-16 00:50] richardpark-msft commented on #136
Closing this issue as it looks like the original problem was resolved.

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus) but I believe this naming problem is not an issue since we mainly leverage `azidentity`, so no MSI terminology should be leaking into our public surface.

[2021-11-16 00:50] #136 closed

[2021-11-16 00:54] richardpark-msft commented on #68
Hi @marstr, agreed this would be useful.

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

I have an issue tracking this feature: https://github.com/Azure/azure-sdk-for-go/issues/15745

I'll link from there to here, because having a separate utility might be interesting, separate from the P

[2021-11-16 00:54] #68 closed

[2021-11-16 01:00] richardpark-msft commented on #146
Hi @adis-me,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

I have a stress that we're working to refine where I will make sure this common use case is tested.

[2021-11-16 01:00] #146 closed

[2021-11-16 01:11] richardpark-msft commented on #126
Hi @ramya-rao-a,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

I tried to replicate your initial issue using the latest azservicebus package - the scenario works correctly. I'll be pushing out a PR to include it in our normal test suite as well.

Thank you for submitting this, and I hop

[2021-11-16 01:11] #126 closed

[2021-11-16 01:17] richardpark-msft commented on #171
Hello @MaheshDevireddy,

We're working towards a GA in the azure-sdk-for-go repo [azservicebus](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus) package.

I don't have a production timeline that I can share, however, but we are actively working on this package and will take any feedback.

We have a migration guide to help ease transition: https://github.com/Azure/azu

[2021-11-16 01:17] #171 closed

[2021-11-16 02:03] richardpark-msft commented on #236
Looks like this issue was resolved. Closing.

[2021-11-16 02:03] #236 closed

[2021-11-16 02:08] richardpark-msft commented on #157
Hi @JosephK9,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

As part of moving into azure-sdk-for-go repo we've also integrated with the `azidentity` package. An example of this is here: [example](https://github.com/Azure/azure-sdk-for-go/blob/c5b9d7c743aee9d01c26907e6923605b7096c51b/sdk

[2021-11-16 02:08] #157 closed

[2021-11-16 02:15] richardpark-msft commented on #253
(note for external visitors: We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

@orzel7, I think you've nailed down why all of these $management path calls are an issue. We've fixed this in the new package by using the same claim negotiation for management links that we use for sender/receive

[2021-11-16 02:15] #253 closed

[2021-11-16 02:18] richardpark-msft commented on #251
(NOTE: We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

Closing as it appears the question was answered and a fix had been made in the same area.

[2021-11-16 02:18] #251 closed

[2021-11-16 02:24] richardpark-msft commented on #95
NOTE: We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

I have a bug submitted to track this in the new package: https://github.com/Azure/azure-sdk-for-go/issues/15644

[2021-11-16 02:24] #95 closed

[2021-11-16 02:37] richardpark-msft commented on #178
(NOTE: We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus))

I've attempted to reproduce this issue using the new package and am unable to. We have a specific test case that covers this functionality: [test](https://github.com/Azure/azure-sdk-for-go/blob/c5b9d7c743aee9d01c26907e6923605b7096c51b/

[2021-11-16 02:37] #178 closed

[2021-11-16 02:41] richardpark-msft commented on #230
(NOTE: We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus)).

Unfortunately, I wasn't able to repro this issue with the old or new package. Closing, but please feel free to reopen in the https://github.com/Azure/azure-sdk-for-go repo if you're able to reproduce this issue with the new package.

[2021-11-16 02:41] #230 closed

[2021-11-16 02:55] jhendrixMSFT commented on #259
Sorry for the delay.

This is a bug in `go-amqp`, it's been fixed in `v0.16.4`.  You should be able to `go get` this update to resolve the issue.

Please note that this module is soon to be deprecated.  You can find the replacement in the azure-sdk-for-go repo [here](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

[2021-11-16 02:55] #259 closed

[2021-11-16 12:09] davidkuridza commented on #161
@richardpark-msft thank you!

[2021-11-16 18:52] jhendrixMSFT commented on #227
Fixed in v0.11.4

[2021-11-16 18:52] #227 closed

[2021-11-16 18:52] jhendrixMSFT commented on #227
Fixed in v0.11.4

[2021-11-16 18:53] jhendrixMSFT commented on #256
Fixed in v0.11.5

[2021-11-16 18:53] #256 closed

[2021-11-16 18:54] jhendrixMSFT commented on #260
Fixed in v0.11.4

[2021-11-16 18:54] #260 closed

[2021-11-16 22:16] richardpark-msft commented on #204
Hi @wzamlynny,

We've moved development of this package into the azure-sdk-for-go repo and I've created a bug to track the issue there: https://github.com/Azure/azure-sdk-for-go/issues/16045.

[2021-11-16 22:16] #204 closed

[2021-11-16 22:26] richardpark-msft opened #268 "[azservicebus] Add ourselves to the Service Bus aggregate repo"
As mentioned in an issue submitted by @marstr here: https://github.com/Azure/azure-service-bus-go/issues/45

(original issue text)

The repository [Azure/azure-service-bus](https://github.com/Azure/azure-service-bus) contains a list of official Microsoft Service Bus libraries across many languages. Today, that repository has no reference to the Go assets in this repository.

To close this issue, t

[2021-11-16 22:28] #268 closed

[2021-11-16 22:29] richardpark-msft commented on #45
Moving this issue here: https://github.com/Azure/azure-sdk-for-go/issues/16198

[2021-11-16 22:29] #45 closed

[2021-11-16 22:48] richardpark-msft commented on #174
Hi @jovillas,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

To your original request, it makes absolute sense. We have an issue to tackle exactly this in the new package: https://github.com/Azure/azure-sdk-for-go/issues/15610.

[2021-11-16 22:48] #174 closed

[2021-11-16 23:00] richardpark-msft commented on #264
Hi @halspang,

(I know we talked already, but for anyone else coming up on this issue):

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

What we did find as we were working on the new library was that there some of the links were actually being put onto separate links, which could cause a

[2021-11-16 23:00] #264 closed

[2021-11-16 23:17] richardpark-msft commented on #220
Moving this here: https://github.com/Azure/azure-sdk-for-go/issues/15642

[2021-11-16 23:17] #220 closed

[2021-11-16 23:33] richardpark-msft commented on #233
Hi all,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

For this question, it looks like this was primarily a question and not necessarily a bug (@Diastro, @serbrech) to confirm?

[2021-11-16 23:48] richardpark-msft commented on #96
Hi all,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

Looking at this issue it looks like the basic functionality exists by doing as @nemakam had recommended, which is to just try the activity and if it succeeds then you can move onto the next stage, which is using it.

With regards to

[2021-11-16 23:48] #96 closed

[2021-11-17 00:22] richardpark-msft commented on #217
Hi @rafalrygas,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

Altering the entity int he Azure Portal results in a detach being sent to the link. In the new SDK we handle this by closing the link and reopening it on the next receive. This allows you to see the reported error (which migh

[2021-11-17 00:22] #217 closed

[2021-11-17 00:29] richardpark-msft commented on #228
Hi @rovangju,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

We haven't yet exposed the websocket support. I'll file a tracking issue over there since this repo is going to get archived and see what makes sense in the context of the larger SDK.

(issue in azure-sdk-for-go: https://github

[2021-11-17 00:29] #228 closed

[2021-11-17 00:41] richardpark-msft commented on #218
It looks like all the discussion occurred and ended in the PR. Closing this issue.

[2021-11-17 00:41] #218 closed

[2021-11-17 01:07] richardpark-msft commented on #226
(moved to azure-sdk-for-go repo)

[2021-11-17 01:07] #226 closed

[2021-11-18 00:37] richardpark-msft commented on #210
Hi @attouab,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

We don't currently export this API in the newer SDK but I wanted to track the request, which I've done so here: https://github.com/Azure/azure-sdk-for-go/issues/16209

[2021-11-18 00:37] #210 closed

[2021-11-18 00:38] richardpark-msft commented on #209
Hi @attouab,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

We don't currently export this API in the newer SDK but I wanted to track this bug, which I've done so here: https://github.com/Azure/azure-sdk-for-go/issues/16209

[2021-11-18 00:38] #209 closed

[2021-11-18 01:02] richardpark-msft commented on #233
Talked with @serbrech - this behavior isn't entirely unexpected as, in **this** package, there is some restriction on when a new credits will be issued.

Regardless, it's best to not rely on ordering as even the act of introducing a second receiver will cause non-determinism.

[2021-11-18 01:02] #233 closed

[2021-11-18 01:13] richardpark-msft commented on #237
We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

Error handling and making errors programatically useful is being tracked here: https://github.com/Azure/azure-sdk-for-go/issues/15610

[2021-11-18 01:13] #237 closed

[2021-11-18 01:15] richardpark-msft commented on #176
Hi @princjef,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

With regards to this particular request, the newest set of Azure Service Bus SDKs no longer use an "entity" style object layout (ie, QueueClient, TopicClient, etc..) and have moved more towards representing things as Receivers/

[2021-11-18 01:15] #176 closed

[2021-11-18 05:22] richardpark-msft commented on #156
Hi all,

We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus).

We've tried to really simplify how error handling works and are still working on how to make errors more actionable (https://github.com/Azure/azure-sdk-for-go/issues/15610). Note that while it's not "done" that's not because we haven

[2021-11-18 05:22] #156 closed

[2021-11-18 21:59] richardpark-msft commented on #221
Hi all,

(NOTE: We've moved development of this package to the azure-sdk-for-go repo [link](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus))

I'm working on a PR in the new repo to add some permanent 'stress' tests to make sure these kinds of long running scenarios work consistently. (This includes introducing network faults, link detaches, etc..)

To that end, I ha

[2021-11-18 21:59] #221 closed